.tsfMainNavBar {
  background: #ffffff61;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  position: relative;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .tsfMainNavBar {
    padding: 32px;
  }
}
.freeBox__vqTuD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__vqTuD {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.link__ncIu2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___9Qr5X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 169px;
  height: 36px;
  flex-shrink: 0;
}
.freeBox___2E5Xi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___2E5Xi {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link__fh54W {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__lmeCo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__gSnb {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #050505;
  text-align: left;
  text-transform: none;
  line-height: 26px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__ypEw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__x5J3 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__oqLd4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__urO1G {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #050505;
  text-align: left;
  text-transform: none;
  line-height: 26px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg___3Smnu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__tJiJg {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__qqCtv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__u8ZOt {
  font-weight: 700;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
}
.textglobal_unnamedGlobalGroupOfVariants_unnamedVariant__u8ZOtFzl1R {
  color: var(--token-ycRh5DILhgk3);
}
.svg__bS0Cy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__wfIh {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg___59Suf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__maKtH {
  font-weight: 700;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.textglobal_unnamedGlobalGroupOfVariants_unnamedVariant__maKtHfzl1R {
  color: var(--token-ycRh5DILhgk3);
}
.svg__ymyaE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__jlX6X {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__d3CNe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__bPkQm {
  font-weight: 700;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.textglobal_unnamedGlobalGroupOfVariants_unnamedVariant__bPkQmfzl1R {
  color: var(--token-ycRh5DILhgk3);
}
.svg__se5M3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__stCj {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg___6LrZb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___6KZiL {
  font-weight: 700;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.textglobal_unnamedGlobalGroupOfVariants_unnamedVariant___6KZiLfzl1R {
  color: var(--token-ycRh5DILhgk3);
}
.svg___7JiNx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.ariaButton:global(.__wab_instance) {
  position: relative;
  background: var(--token-ElSOFvpR3TI_);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  outline-style: none;
  text-decoration-line: none;
  max-width: 100%;
  color: var(--token-ElSOFvpR3TI_);
  border-radius: 0.375rem;
  padding: 0rem;
  border-width: 0px;
}
.softBackground2 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #e5e7eb;
  border-radius: 0.375rem;
}
.border2 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 0.375rem;
  border: 0px solid #d1d5db;
}
.interactionEffect2 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 0.375rem;
}
.freeBox__g5Hzm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: 0.375rem;
  min-width: 0;
  min-height: 0;
  padding: 0.375rem 0.75rem;
}
.freeBox__qRrN {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.svg__lppJn {
  position: relative;
  color: #f9fafb;
  height: 1em;
  flex-shrink: 0;
}
.text__zk1Xh {
  white-space: pre;
  color: var(--token-Ap6XFnEQdRgj);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__hHfXe {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.svg__pwyzq {
  position: relative;
  color: #f9fafb;
  height: 1em;
  flex-shrink: 0;
}
