.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.tsfDemandMainNavigation:global(.__wab_instance) {
  max-width: 100%;
  width: 1439px;
}
.mainSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection {
    padding: 3em 15px 1.5em;
  }
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ElSOFvpR3TI_);
  min-width: 0;
  padding: 0px;
}
.freeBox__hnit4 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  background: none;
  max-width: 1380px;
  align-items: flex-end;
  min-width: 0;
  padding: 64px 32px 58px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hnit4 {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: none;
    max-width: 1380px;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns__bjf9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 12px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__bjf9 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bjf9 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bjf9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    column-gap: 0px;
    row-gap: 12px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bjf9 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zMauj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 34px;
  color: var(--token-ycRh5DILhgk3);
  min-width: 0;
}
.text___3LDch {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 27px;
}
.text__rTfma {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 27px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__fU2LK {
  position: relative;
  height: 1em;
}
.text__pSfFw {
  white-space: pre;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  font-size: 22px;
  text-align: left;
}
.svg__kaPqg {
  position: relative;
  height: 1em;
}
.column__dnhpB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___5QcPw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5QcPw > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___5QcPw {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___5QcPw > picture > img {
    object-fit: cover;
  }
}
.mainSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #f7f9fb;
    column-gap: 0px;
    min-width: 0;
    padding: 3em 15px 1.5em;
    margin: 0px;
  }
}
.container3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__alcj7 {
  object-fit: cover;
  max-width: 100%;
}
.img__alcj7 > picture > img {
  object-fit: cover;
}
.container4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img___2NCc {
  object-fit: cover;
  max-width: 100%;
}
.img___2NCc > picture > img {
  object-fit: cover;
}
.container5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__npZIo {
  object-fit: cover;
  max-width: 100%;
}
.img__npZIo > picture > img {
  object-fit: cover;
}
.container6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__hT8A9 {
  object-fit: cover;
  max-width: 100%;
}
.img__hT8A9 > picture > img {
  object-fit: cover;
}
.container7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img___64J3Z {
  object-fit: cover;
  max-width: 100%;
}
.img___64J3Z > picture > img {
  object-fit: cover;
}
.container8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__wc6Bs {
  object-fit: cover;
  max-width: 100%;
}
.img__wc6Bs > picture > img {
  object-fit: cover;
}
.container9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__gPKn0 {
  object-fit: cover;
  max-width: 100%;
}
.img__gPKn0 > picture > img {
  object-fit: cover;
}
.container10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__xoe43 {
  object-fit: cover;
  max-width: 100%;
}
.img__xoe43 > picture > img {
  object-fit: cover;
}
.container12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__r4Sk {
  object-fit: cover;
  max-width: 100%;
}
.img__r4Sk > picture > img {
  object-fit: cover;
}
.container13 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__ubh1Z {
  object-fit: cover;
  max-width: 100%;
}
.img__ubh1Z > picture > img {
  object-fit: cover;
}
.container14 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__umgO {
  object-fit: cover;
  max-width: 100%;
}
.img__umgO > picture > img {
  object-fit: cover;
}
.container15 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__vAJzf {
  object-fit: cover;
  max-width: 100%;
}
.img__vAJzf > picture > img {
  object-fit: cover;
}
.container16 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__kbDfN {
  object-fit: cover;
  max-width: 100%;
}
.img__kbDfN > picture > img {
  object-fit: cover;
}
.container17 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__xRKo {
  object-fit: cover;
  max-width: 100%;
}
.img__xRKo > picture > img {
  object-fit: cover;
}
.container18 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__osJmi {
  object-fit: cover;
  max-width: 100%;
}
.img__osJmi > picture > img {
  object-fit: cover;
}
.container19 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__uAdNj {
  object-fit: cover;
  max-width: 100%;
}
.img__uAdNj > picture > img {
  object-fit: cover;
}
.container20 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__kjw4J {
  object-fit: cover;
  max-width: 100%;
}
.img__kjw4J > picture > img {
  object-fit: cover;
}
.container21 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__pK2DJ {
  object-fit: cover;
  max-width: 100%;
}
.img__pK2DJ > picture > img {
  object-fit: cover;
}
.container22 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__hOxin {
  object-fit: cover;
  max-width: 100%;
}
.img__hOxin > picture > img {
  object-fit: cover;
}
.container23 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__ubacv {
  object-fit: cover;
  max-width: 100%;
}
.img__ubacv > picture > img {
  object-fit: cover;
}
.freeBox__zi4Cs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(var(--token-zrH0XRQElDBe), var(--token-zrH0XRQElDBe)),
    url("/plasmic/tsf_demand_website/images/businessPeopleHavingMeetingAndBrainstormingD20240709005155UtcJpg.jpg") top 50% left 50% / cover repeat;
  overflow: auto;
  position: relative;
  margin-top: 23px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 1px 8px 51px;
}
.columns__agP2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 53px 8px 8px;
}
.columns__agP2 > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__agP2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__agP2 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wH9Ug {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2___1W0T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 22px;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___1W0T {
    padding: 0px;
  }
}
.h2__iik5A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 22px;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__iik5A {
    padding: 0px;
  }
}
.freeBox__mncyT {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  height: auto;
}
.text__bfAee {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-ycRh5DILhgk3);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__kjkb2 {
  position: relative;
  width: 36px;
  height: 36px;
  color: var(--token-ycRh5DILhgk3);
}
.svg__yqTxc {
  position: relative;
  height: 1em;
}
.tsfFooter:global(.__wab_instance) {
  max-width: 100%;
}
