.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-i9L7MZlgWlpe);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-itBX5pocdFhC);
  font-family: var(--token-6gvBJ3setIP6);
  font-size: var(--token-7jxcIMkCaZ3D);
  line-height: var(--token-3KAsnA2RoY0U);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-qxMgMJZ_qTUy);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-HsQZWNkdWzNB);
  outline-offset: 1px;
  outline-color: var(--token-i9L7MZlgWlpe);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-UeNiRqUsHS74);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-IObdlPIALg7W);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-vQyax-nfo-J2);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-4WAF4HbZ93AS);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-7Np9RJpK5fbW);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-fR-Ya3Pp6wwl);
  font-size: var(--token-aGz1WBc2WKu2);
  column-gap: var(--token-HsQZWNkdWzNB);
  row-gap: 0px;
  border-radius: var(--token-yvYKYD-s4B8W);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-aGz1WBc2WKu2);
  line-height: var(--token-fR-Ya3Pp6wwl);
  column-gap: var(--token-yvYKYD-s4B8W);
  row-gap: 0px;
  border-radius: var(--token-yvYKYD-s4B8W);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-KrOaSw_rXxjY);
  line-height: var(--token-IsewFUGfO9HU);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-KrOaSw_rXxjY);
  line-height: var(--token-IsewFUGfO9HU);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-NjccOIg6dgM4);
  border-radius: var(--token-qxMgMJZ_qTUy);
}
.softBackgroundcolor_neutral {
  background: var(--token-rHEmoLCAZeZD);
}
.softBackgroundcolor_muted {
  background: var(--token-0SxOhIvtMnIB);
}
.softBackgroundcolor_success {
  background: var(--token-IrQtigG6H28D);
}
.softBackgroundcolor_warning {
  background: var(--token-ySW8hb4GW9_F);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-QMbjyTyiKcQG);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-qxMgMJZ_qTUy);
  border: 0px solid var(--token-_L-uqOjXciTS);
}
.bordercolor_neutral {
  border-color: var(--token-6tYr_Ml-nGMK);
}
.bordercolor_muted {
  border-color: var(--token-DlB8UH30eFPH);
}
.bordercolor_success {
  border-color: var(--token-3MQpIJBCiL8G);
}
.bordercolor_warning {
  border-color: var(--token-f4-SJ4ELT8m0);
}
.bordercolor_errorDestructive {
  border-color: var(--token-VYuQKunYdcsU);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-qxMgMJZ_qTUy);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-QRNLCuHrtRDI);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-xD6MbAkjN_6O);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-4vhb3nGT-9KU);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__b77L {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-qxMgMJZ_qTUy);
  min-width: 0;
  min-height: 0;
  padding: var(--token-qxMgMJZ_qTUy) var(--token-xhPRIq65MR2r);
}
.freeBoxsize_extraSmall__b77LgGUdB {
  padding: var(--token-yvYKYD-s4B8W) var(--token-qxMgMJZ_qTUy);
}
.freeBoxsize_small__b77La2JrC {
  padding: var(--token-qxMgMJZ_qTUy) var(--token-itBX5pocdFhC);
}
.freeBoxsize_large__b77LUtsOs {
  padding-top: var(--token-yvYKYD-s4B8W);
  padding-bottom: var(--token-yvYKYD-s4B8W);
}
.freeBoxsize_extraLarge__b77Lcyvx7 {
  padding-left: var(--token-aKEnaaR5maWQ);
  padding-right: var(--token-aKEnaaR5maWQ);
}
.freeBoxroundedFull__b77LkxlJd {
  padding-right: var(--token-aKEnaaR5maWQ);
  padding-left: var(--token-aKEnaaR5maWQ);
}
.freeBox__cNkO {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__cNkOCbn0J {
  display: flex;
}
.slotTargetStart {
  color: var(--token-cNze-bGmWA8w);
}
.slotTargetStartcolor_neutral {
  color: var(--token-vVvR4aHI6hSD);
}
.slotTargetStartcolor_muted {
  color: var(--token-xFP4xP8hl2Gc);
}
.slotTargetStartcolor_success {
  color: var(--token-I-aLq8fV5CVs);
}
.slotTargetStartcolor_warning {
  color: var(--token-dl7Om7MHxY6e);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-HIECG5uzsMlC);
}
.slotTargetStarttype_soft {
  color: var(--token-4E3NYtmQTZDd);
}
.slotTargetStarttype_bordered {
  color: var(--token-4E3NYtmQTZDd);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-aGz1WBc2WKu2);
}
.slotTargetStartsize_small {
  font-size: var(--token-aGz1WBc2WKu2);
}
.slotTargetStartsize_large {
  font-size: var(--token-KrOaSw_rXxjY);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-KrOaSw_rXxjY);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-8L0w61FVVy1G);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-8L0w61FVVy1G);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-PAmhTCQJn-I9);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-PAmhTCQJn-I9);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-suIa7oWa38IN);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-suIa7oWa38IN);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-MAFYtToJXxXl);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-MAFYtToJXxXl);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-XqICOjnoZLg8);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-XqICOjnoZLg8);
}
.svg___0UNmn {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-cNze-bGmWA8w);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-vVvR4aHI6hSD);
}
.slotTargetLabelcolor_muted {
  color: var(--token-xFP4xP8hl2Gc);
}
.slotTargetLabelcolor_success {
  color: var(--token-I-aLq8fV5CVs);
}
.slotTargetLabelcolor_warning {
  color: var(--token-dl7Om7MHxY6e);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-HIECG5uzsMlC);
}
.slotTargetLabeltype_soft {
  color: var(--token-4E3NYtmQTZDd);
}
.slotTargetLabeltype_bordered {
  color: var(--token-4E3NYtmQTZDd);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-8L0w61FVVy1G);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-PAmhTCQJn-I9);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-8L0w61FVVy1G);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-suIa7oWa38IN);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-PAmhTCQJn-I9);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-MAFYtToJXxXl);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-suIa7oWa38IN);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-XqICOjnoZLg8);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-MAFYtToJXxXl);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-XqICOjnoZLg8);
}
.text__zyEjw {
  white-space: pre;
}
.freeBox__mL6B5 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__mL6B5GrRBi {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-cNze-bGmWA8w);
}
.slotTargetEndcolor_neutral {
  color: var(--token-vVvR4aHI6hSD);
}
.slotTargetEndcolor_muted {
  color: var(--token-xFP4xP8hl2Gc);
}
.slotTargetEndcolor_success {
  color: var(--token-I-aLq8fV5CVs);
}
.slotTargetEndcolor_warning {
  color: var(--token-dl7Om7MHxY6e);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-HIECG5uzsMlC);
}
.slotTargetEndtype_soft {
  color: var(--token-4E3NYtmQTZDd);
}
.slotTargetEndtype_bordered {
  color: var(--token-4E3NYtmQTZDd);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-aGz1WBc2WKu2);
}
.slotTargetEndsize_small {
  font-size: var(--token-aGz1WBc2WKu2);
}
.slotTargetEndsize_large {
  font-size: var(--token-KrOaSw_rXxjY);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-KrOaSw_rXxjY);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-8L0w61FVVy1G);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-8L0w61FVVy1G);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-PAmhTCQJn-I9);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-PAmhTCQJn-I9);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-suIa7oWa38IN);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-suIa7oWa38IN);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-MAFYtToJXxXl);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-MAFYtToJXxXl);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-XqICOjnoZLg8);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-XqICOjnoZLg8);
}
.svg___288Fx {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
