.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.freeBox__wUjrb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__cgm78 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-GVmg7yaE-Tp8);
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cgm78 {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__eq8X9 {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  min-width: 0;
  padding: 107px 32px 33px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__eq8X9 {
    padding-top: 87px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__fFuWj {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  column-gap: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fFuWj {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__u9LG {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__p5IWi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.h1___4AZ0Y {
  margin-bottom: 7px;
  line-height: var(--token-IsewFUGfO9HU);
}
.text__pgx5Z {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--token-cWeyo_c_z-kE);
  max-width: 534px;
  width: 100%;
  font-weight: 700;
  font-size: var(--token-W0iO0NUpne5G);
  padding-top: 0px;
  min-width: 0;
}
.button__x7Ciz:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__qoGyl {
  position: relative;
  height: 1em;
}
.text__epLkg {
  white-space: pre;
  padding-bottom: 0px;
  font-weight: 900;
}
.svg__vZ1Mq {
  position: relative;
  height: 1em;
}
.freeBox__sBxuq {
  display: flex;
  position: relative;
  height: 400px;
}
.img__frdAn {
  object-fit: contain;
  max-width: 100%;
  width: 553px;
  flex-shrink: 0;
}
.img__frdAn > picture > img {
  object-fit: contain;
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-cWeyo_c_z-kE);
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kyp0L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
.h1__ijNCc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1155px;
  text-align: center;
  color: var(--token-zrH0XRQElDBe);
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__ijNCc {
    font-size: 32px;
  }
}
.text__vqkGs {
  position: relative;
  width: 1139px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-W0iO0NUpne5G);
  margin-bottom: 0px;
}
.img__nv1A {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__nv1A > picture > img {
  object-fit: cover;
}
.text__jUXzY {
  position: relative;
  width: 1139px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-W0iO0NUpne5G);
}
.img__l4Ou7 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__l4Ou7 > picture > img {
  object-fit: cover;
}
.text__yxZtq {
  position: relative;
  width: 1139px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-W0iO0NUpne5G);
}
.img__xbEmb {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__xbEmb > picture > img {
  object-fit: cover;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ykNg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-zrH0XRQElDBe);
  min-width: 0;
  padding: 8px 20px;
}
.h1__iDk7X {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 23px;
  min-width: 0;
}
.text__zXfL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  min-width: 0;
}
.button__fNxeo:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__mjcnf {
  position: relative;
  height: 1em;
}
.text__nVf2L {
  white-space: pre;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
}
.svg__fx6S {
  position: relative;
  height: 1em;
}
.column__duJlc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-GVmg7yaE-Tp8);
  min-width: 0;
  padding: 8px 20px;
}
.h1__jx3FS {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  padding-bottom: 25px;
  min-width: 0;
}
.text___1SDdj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  min-width: 0;
}
.button__qGdVm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__aXynK {
  position: relative;
  height: 1em;
}
.text__u0Np5 {
  white-space: pre;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
}
.svg__s6PIy {
  position: relative;
  height: 1em;
}
.column__aXxzO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ElSOFvpR3TI_);
  min-width: 0;
  padding: 8px 20px;
}
.h1__po5Rq {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 25px;
  min-width: 0;
}
.text__aNzF2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  min-width: 0;
}
.button___9E7RT:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__rPPG {
  position: relative;
  height: 1em;
}
.text__af40M {
  white-space: pre;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
}
.svg__vwfkV {
  position: relative;
  height: 1em;
}
.blogPosts:global(.__wab_instance) {
  position: relative;
  display: none;
  margin: 0px;
}
.ctaBlock:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}
.heroSection:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
