.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.tsfMainNavigationHome:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__wUjrb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cgm78 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-GVmg7yaE-Tp8);
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cgm78 {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__eq8X9 {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  min-width: 0;
  padding: 107px 32px 33px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__eq8X9 {
    padding-top: 87px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__fFuWj {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  column-gap: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fFuWj {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__u9LG {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__p5IWi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.h1___4AZ0Y {
  margin-bottom: 7px;
  line-height: var(--token-IsewFUGfO9HU);
  font-size: 45px;
}
.h1global_unnamedGlobalGroupOfVariants_unnamedVariant___4AZ0Yfzl1R {
  line-height: var(--token-3KAsnA2RoY0U);
}
.h1__csGh0 {
  margin-bottom: 7px;
  line-height: var(--token-IsewFUGfO9HU);
  font-size: 24px;
  font-style: italic;
}
.h1global_unnamedGlobalGroupOfVariants_unnamedVariant__csGh0Fzl1R {
  line-height: var(--token-3KAsnA2RoY0U);
}
.text__pgx5Z {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--token-cWeyo_c_z-kE);
  max-width: 534px;
  width: 100%;
  font-weight: 700;
  font-size: var(--token-W0iO0NUpne5G);
  padding-top: 0px;
  min-width: 0;
}
.button__x7Ciz:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__qoGyl {
  position: relative;
  height: 1em;
}
.text__epLkg {
  white-space: pre;
  padding-bottom: 0px;
  font-weight: 900;
}
.svg__vZ1Mq {
  position: relative;
  height: 1em;
}
.freeBox__sBxuq {
  display: flex;
  position: relative;
  height: 400px;
}
.youTube__avni4:global(.__wab_instance) {
  width: 677px;
  height: 458px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-cWeyo_c_z-kE);
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kyp0L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 1px 15px;
}
.freeBox__wkgCl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
  padding: 48px 8px;
}
.freeBox__xLiy7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: relative;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 32px;
}
.columns__pilBw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  max-width: 1080px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
}
.columns__pilBw > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pilBw {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pilBw > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lal1L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__lal1L {
    width: 100%;
  }
}
.freeBox__vKCmP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 32px;
  margin-bottom: 47px;
  min-width: 0;
}
.text__ymhv5 {
  font-size: 48px;
  font-weight: 800;
  line-height: 55px;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__iVlts {
  font-size: 22px;
  color: #05050599;
  line-height: var(--token-kJRtS87BK95r);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ssKt4 {
  font-size: 22px;
  color: #05050599;
  line-height: var(--token-kJRtS87BK95r);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h3__k3MKk {
  text-align: center;
  padding-left: 0px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 800;
  min-width: 0;
}
.text__hi6X5 {
  font-size: 22px;
  color: #05050599;
  line-height: var(--token-kJRtS87BK95r);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h3__tRrTa {
  text-align: center;
  padding-left: 0px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 800;
  min-width: 0;
}
.text__h6J9O {
  font-size: 22px;
  color: #05050599;
  line-height: var(--token-kJRtS87BK95r);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__cFj1W {
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2__e0V5Y:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  height: auto;
}
.text__jYvrq {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-j36yqbLRSv4k);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  width: auto;
}
.svg__hoUbu {
  position: relative;
  color: var(--token-j36yqbLRSv4k);
  height: 24px;
}
.svg__sijhA {
  position: relative;
  height: 1em;
}
.freeBox__vJv7W {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: relative;
  width: 100%;
  background: var(--token-pmqmA9YFvxV-);
  min-width: 0;
  padding: 32px;
}
.columns__ewpau {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  max-width: 1080px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
}
.columns__ewpau > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ewpau {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ewpau > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__axH6A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__axH6A {
    width: 100%;
  }
}
.freeBox__iOmxQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 32px;
  min-width: 0;
}
.text__d0JW3 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__vi7Ei {
  font-size: 30px;
  color: var(--token-ycRh5DILhgk3);
  line-height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__mj9Wi {
  font-size: 22px;
  color: var(--token-ycRh5DILhgk3);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  margin-top: 25px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__vWrGy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zijGc {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 1401px;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zijGc {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__vgfas {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.youTube__t6XkK:global(.__wab_instance) {
  width: 640px;
  height: 237px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.freeBox__iqMhz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.youTube___0MUa:global(.__wab_instance) {
  width: 640px;
  height: 237px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.freeBox__rAckx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.youTube___0Zlf:global(.__wab_instance) {
  width: 640px;
  height: 237px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.freeBox__tDGiK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.youTube__dgpex:global(.__wab_instance) {
  width: 640px;
  height: 237px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  flex-shrink: 0;
  display: none;
}
.freeBox__qvvqG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.youTube__g3M0J:global(.__wab_instance) {
  width: 640px;
  height: 237px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.freeBox__qNpXx {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.youTube___051HF:global(.__wab_instance) {
  width: 640px;
  height: 237px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.tsfLiteFewerStockouts:global(.__wab_instance) {
  animation: none;
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .tsfLiteFewerStockouts:global(.__wab_instance) {
    animation: none;
  }
}
.columns__oxRvY {
  display: flex;
  position: relative;
  width: 1329px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  --plsmc-rc-col-gap: 10px;
  padding: 8px;
}
.columns__oxRvY > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__oxRvY > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__oxRvY {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 10px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__oxRvY > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ddl3J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-pmqmA9YFvxV-);
  min-width: 0;
  padding: 20px 42px 10px;
}
.h1__k7FYk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 23px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__ljGy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  font-size: 24px;
  min-width: 0;
}
.button__isXIr:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__jQdS {
  position: relative;
  height: 1em;
}
.text__rFsgt {
  white-space: pre;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  font-size: 22px;
}
.svg__dmKE {
  position: relative;
  height: 1em;
}
.column__ik2Xz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QhTIx_NeceRV);
  min-width: 0;
  padding: 20px 42px 10px;
}
.h1___83SDs {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 23px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__uEoG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  font-size: 24px;
  min-width: 0;
}
.button__iM1X:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___91Qe8 {
  position: relative;
  height: 1em;
}
.text__wMxo5 {
  white-space: pre;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  font-size: 22px;
}
.svg__aQity {
  position: relative;
  height: 1em;
}
.column__jlzoJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-V3B9wE7hI-6x);
  min-width: 0;
  padding: 20px 42px 10px;
}
.h1__vCxpA {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 23px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__qyzbX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  font-size: 24px;
  min-width: 0;
}
.button__b1Igq:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__qe9Qc {
  position: relative;
  height: 1em;
}
.text__oejpO {
  white-space: pre;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  font-size: 22px;
}
.svg__hvJrg {
  position: relative;
  height: 1em;
}
.column__fGkB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-zrH0XRQElDBe);
  min-width: 0;
  padding: 20px 42px 10px;
}
.h1__hb1Qy {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 23px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__lzxV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  font-size: 24px;
  min-width: 0;
}
.button__c8EMf:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___4EaGj {
  position: relative;
  height: 1em;
}
.text___5RfiT {
  white-space: pre;
  color: var(--token-j36yqbLRSv4k);
  font-weight: 700;
  font-size: 22px;
}
.svg__pYt3N {
  position: relative;
  height: 1em;
}
.freeBox__bssI3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(var(--token-zrH0XRQElDBe), var(--token-zrH0XRQElDBe)),
    url("/plasmic/tsf_demand_website/images/businessPeopleHavingMeetingAndBrainstormingD20240709005155UtcJpg.jpg") top 50% left 50% / cover repeat;
  overflow: auto;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 1px 8px 51px;
}
.columns__lmBz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 53px 8px 8px;
}
.columns__lmBz > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lmBz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lmBz > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__l8Gaa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2___8XC4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 22px;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___8XC4 {
    padding: 0px;
  }
}
.h2__iVxUq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 22px;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__iVxUq {
    padding: 0px;
  }
}
.text__aTtg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 33px;
  text-align: left;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.ul {
  display: flex;
  flex-direction: column;
}
.freeBox__npY46 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}
.button2___7NPxv:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  height: auto;
}
.text___19F1T {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-ycRh5DILhgk3);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__odeP3 {
  position: relative;
  width: 36px;
  height: 36px;
  color: var(--token-ycRh5DILhgk3);
}
.svg__lCYxN {
  position: relative;
  height: 1em;
}
.link {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-j36yqbLRSv4k);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-right: 0px;
  padding-left: 56px;
}
.svg__imgUa {
  object-fit: cover;
  max-width: 36px;
  width: auto;
  color: var(--token-j36yqbLRSv4k);
  margin-left: -16px;
  height: 36px;
}
.tsfFooter:global(.__wab_instance) {
  max-width: 100%;
}
.blogPosts:global(.__wab_instance) {
  position: relative;
  display: none;
  margin: 0px;
}
.ctaBlock:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}
.heroSection:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}
