.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.mainSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection {
    padding: 3em 15px 1.5em;
  }
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ElSOFvpR3TI_);
  min-width: 0;
  padding: 0px;
}
.freeBox {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 64px 32px 58px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: none;
    max-width: 1380px;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 12px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    column-gap: 0px;
    row-gap: 12px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zMauj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__dnhpB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___5QcPw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5QcPw > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___5QcPw {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___5QcPw > picture > img {
    object-fit: cover;
  }
}
.mainSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #f7f9fb;
    column-gap: 0px;
    min-width: 0;
    padding: 3em 15px 1.5em;
    margin: 0px;
  }
}
.container3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__alcj7 {
  object-fit: cover;
  max-width: 100%;
}
.img__alcj7 > picture > img {
  object-fit: cover;
}
.container4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__skQ1T {
  object-fit: cover;
  max-width: 100%;
}
.img__skQ1T > picture > img {
  object-fit: cover;
}
.container6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__xoVu {
  object-fit: cover;
  max-width: 100%;
}
.img__xoVu > picture > img {
  object-fit: cover;
}
.container7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__uwhBe {
  object-fit: cover;
  max-width: 100%;
}
.img__uwhBe > picture > img {
  object-fit: cover;
}
.container8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__aHyka {
  object-fit: cover;
  max-width: 100%;
}
.img__aHyka > picture > img {
  object-fit: cover;
}
.container9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__f4Fjm {
  object-fit: cover;
  max-width: 100%;
}
.img__f4Fjm > picture > img {
  object-fit: cover;
}
.container10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__toh45 {
  object-fit: cover;
  max-width: 100%;
}
.img__toh45 > picture > img {
  object-fit: cover;
}
.container11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__rUgyU {
  object-fit: cover;
  max-width: 100%;
}
.img__rUgyU > picture > img {
  object-fit: cover;
}
.container12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__fyFn {
  object-fit: cover;
  max-width: 100%;
}
.img__fyFn > picture > img {
  object-fit: cover;
}
.container13 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__lO8DT {
  object-fit: cover;
  max-width: 100%;
}
.img__lO8DT > picture > img {
  object-fit: cover;
}
.container14 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__a4YpH {
  object-fit: cover;
  max-width: 100%;
}
.img__a4YpH > picture > img {
  object-fit: cover;
}
.container15 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__umyfI {
  object-fit: cover;
  max-width: 100%;
}
.img__umyfI > picture > img {
  object-fit: cover;
}
.container16 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__sj0Kp {
  object-fit: cover;
  max-width: 100%;
}
.img__sj0Kp > picture > img {
  object-fit: cover;
}
.container17 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.img__mdGjz {
  object-fit: cover;
  max-width: 100%;
}
.img__mdGjz > picture > img {
  object-fit: cover;
}
.container18 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: var(--token-zrH0XRQElDBe);
  padding: 30px;
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__oTw6M {
  object-fit: cover;
  max-width: 100%;
}
.img__oTw6M > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
