.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-Ap6XFnEQdRgj);
  font-family: var(--token-6gvBJ3setIP6);
  font-size: var(--token-7jxcIMkCaZ3D);
  line-height: var(--token-3KAsnA2RoY0U);
  width: 100%;
  column-gap: var(--token-itBX5pocdFhC);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-wRJMMBRXcYiG);
  height: var(--token-wRJMMBRXcYiG);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-HsQZWNkdWzNB);
  border: 2px solid var(--token-HKbIgolIh8fy);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-i9L7MZlgWlpe);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-i9L7MZlgWlpe);
  border-color: var(--token-i9L7MZlgWlpe);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-i9L7MZlgWlpe);
  border-color: var(--token-i9L7MZlgWlpe);
}
.svg__khmkj {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.ariaCheckbox[data-selected] .svg__khmkj {
  display: block;
}
.svg__h9Xwh {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.ariaCheckbox[data-indeterminate] .svg__h9Xwh {
  display: block;
}
