@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-raGaC92h_JtB: 0.83rem;
  --plasmic-token-unnamed-style-token: var(--token-raGaC92h_JtB);
  --token-cWeyo_c_z-kE: #ffffff;
  --plasmic-token-white: var(--token-cWeyo_c_z-kE);
  --token-Ry9eGMy91QvA: #000000;
  --plasmic-token-black: var(--token-Ry9eGMy91QvA);
  --token-5uBvOAZXq0P8: #535353;
  --plasmic-token-primary-color: var(--token-5uBvOAZXq0P8);
  --token-EMyDfFbkopU7: 48px;
  --plasmic-token-lead-title: var(--token-EMyDfFbkopU7);
  --token-kV563JwEK_TJ: 16px;
  --plasmic-token-primary-text: var(--token-kV563JwEK_TJ);
  --token-3GVHfxLlGnHs: Inter;
  --plasmic-token-primary-font: var(--token-3GVHfxLlGnHs);
  --token-_pEKu496rJhT: 24px;
  --plasmic-token-small-title: var(--token-_pEKu496rJhT);
  --token-oC_mOqc2kOIK: 30px;
  --plasmic-token-lead-title-sm: var(--token-oC_mOqc2kOIK);
  --token-rktf7gW2YaTE: 20px;
  --plasmic-token-small-title-sm: var(--token-rktf7gW2YaTE);
  --token-ZIJHPj2-rUBQ: #0091ff;
  --plasmic-token-clr: var(--token-ZIJHPj2-rUBQ);
  --token-Icaa79LJn7OD: var(--token-ZIJHPj2-rUBQ);
  --plasmic-token-unnamed-style-token-2: var(--token-Icaa79LJn7OD);
  --token-kK3Zw79YpxqZ: var(--token-eKJtvP_cPKNr);
  --plasmic-token-unnamed-style-token-3: var(--token-kK3Zw79YpxqZ);
  --token-eKJtvP_cPKNr: var(--token-KWOVvlGrpO8X);
  --plasmic-token-unnamed-style-token-4: var(--token-eKJtvP_cPKNr);
  --token-KWOVvlGrpO8X: #3429291a;
  --plasmic-token-unnamed-style-token-5: var(--token-KWOVvlGrpO8X);
  --token-owaeXHRlq_pV: #f8f8f8;
  --plasmic-token-unnamed-style-token-6: var(--token-owaeXHRlq_pV);
  --token-LeKXMHynoElu: 16px;
  --plasmic-token-unnamed-style-token-7: var(--token-LeKXMHynoElu);
  --token-loqlaoiyL6Pz: var(--token-owaeXHRlq_pV);
  --plasmic-token-unnamed-style-token-8: var(--token-loqlaoiyL6Pz);
  --token-goNnrafoPVE4: #f4efeb;
  --plasmic-token-unnamed-style-token-9: var(--token-goNnrafoPVE4);
  --token-i9L7MZlgWlpe: #2563eb;
  --plasmic-token-brand-brand: var(--token-i9L7MZlgWlpe);
  --token-itBX5pocdFhC: 0.5rem;
  --plasmic-token-size-8: var(--token-itBX5pocdFhC);
  --token-6gvBJ3setIP6: Inter;
  --plasmic-token-sans-serif: var(--token-6gvBJ3setIP6);
  --token-7jxcIMkCaZ3D: 1rem;
  --plasmic-token-font-md: var(--token-7jxcIMkCaZ3D);
  --token-3KAsnA2RoY0U: 1.25;
  --plasmic-token-line-height-md: var(--token-3KAsnA2RoY0U);
  --token-qxMgMJZ_qTUy: 0.375rem;
  --plasmic-token-size-6: var(--token-qxMgMJZ_qTUy);
  --token-UeNiRqUsHS74: #374151;
  --plasmic-token-neutral-neutral: var(--token-UeNiRqUsHS74);
  --token-7Np9RJpK5fbW: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-7Np9RJpK5fbW);
  --token-IObdlPIALg7W: #6b7280;
  --plasmic-token-muted-muted: var(--token-IObdlPIALg7W);
  --token-yvYKYD-s4B8W: 0.25rem;
  --plasmic-token-size-4: var(--token-yvYKYD-s4B8W);
  --token-aGz1WBc2WKu2: 0.75rem;
  --plasmic-token-font-sm: var(--token-aGz1WBc2WKu2);
  --token-fR-Ya3Pp6wwl: 1;
  --plasmic-token-line-height-sm: var(--token-fR-Ya3Pp6wwl);
  --token-KrOaSw_rXxjY: 1.25rem;
  --plasmic-token-font-lg: var(--token-KrOaSw_rXxjY);
  --token-IsewFUGfO9HU: 1.4;
  --plasmic-token-line-height-lg: var(--token-IsewFUGfO9HU);
  --token-HsQZWNkdWzNB: 0.125rem;
  --plasmic-token-size-2: var(--token-HsQZWNkdWzNB);
  --token-vQyax-nfo-J2: #16a34a;
  --plasmic-token-success-success: var(--token-vQyax-nfo-J2);
  --token-4WAF4HbZ93AS: #facc15;
  --plasmic-token-warning-warning: var(--token-4WAF4HbZ93AS);
  --token-NjccOIg6dgM4: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-NjccOIg6dgM4);
  --token-rHEmoLCAZeZD: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-rHEmoLCAZeZD);
  --token-0SxOhIvtMnIB: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-0SxOhIvtMnIB);
  --token-IrQtigG6H28D: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-IrQtigG6H28D);
  --token-ySW8hb4GW9_F: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-ySW8hb4GW9_F);
  --token-QMbjyTyiKcQG: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-QMbjyTyiKcQG);
  --token-_L-uqOjXciTS: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-_L-uqOjXciTS);
  --token-6tYr_Ml-nGMK: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-6tYr_Ml-nGMK);
  --token-DlB8UH30eFPH: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-DlB8UH30eFPH);
  --token-3MQpIJBCiL8G: #86efac;
  --plasmic-token-success-success-border: var(--token-3MQpIJBCiL8G);
  --token-f4-SJ4ELT8m0: #fde047;
  --plasmic-token-warning-warning-border: var(--token-f4-SJ4ELT8m0);
  --token-VYuQKunYdcsU: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-VYuQKunYdcsU);
  --token-QRNLCuHrtRDI: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-QRNLCuHrtRDI);
  --token-xD6MbAkjN_6O: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-xD6MbAkjN_6O);
  --token-4vhb3nGT-9KU: #00000033;
  --plasmic-token-interaction-pressed: var(--token-4vhb3nGT-9KU);
  --token-xhPRIq65MR2r: 0.625rem;
  --plasmic-token-size-10: var(--token-xhPRIq65MR2r);
  --token-aKEnaaR5maWQ: 0.75rem;
  --plasmic-token-size-12: var(--token-aKEnaaR5maWQ);
  --token-cNze-bGmWA8w: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-cNze-bGmWA8w);
  --token-vVvR4aHI6hSD: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-vVvR4aHI6hSD);
  --token-xFP4xP8hl2Gc: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-xFP4xP8hl2Gc);
  --token-4E3NYtmQTZDd: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-4E3NYtmQTZDd);
  --token-dl7Om7MHxY6e: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-dl7Om7MHxY6e);
  --token-I-aLq8fV5CVs: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-I-aLq8fV5CVs);
  --token-HIECG5uzsMlC: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-HIECG5uzsMlC);
  --token-8L0w61FVVy1G: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-8L0w61FVVy1G);
  --token-PAmhTCQJn-I9: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-PAmhTCQJn-I9);
  --token-suIa7oWa38IN: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-suIa7oWa38IN);
  --token-MAFYtToJXxXl: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-MAFYtToJXxXl);
  --token-XqICOjnoZLg8: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-XqICOjnoZLg8
  );
  --token-Ap6XFnEQdRgj: #030712;
  --plasmic-token-basic-text-primary: var(--token-Ap6XFnEQdRgj);
  --token-wRJMMBRXcYiG: 1.25rem;
  --plasmic-token-size-20: var(--token-wRJMMBRXcYiG);
  --token-HKbIgolIh8fy: #9ca3af;
  --plasmic-token-basic-ring: var(--token-HKbIgolIh8fy);
  --token-lC14R-rzsnPw: 2rem;
  --plasmic-token-size-32: var(--token-lC14R-rzsnPw);
  --token-RoFM1yGzwA6x: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-RoFM1yGzwA6x);
  --token-OL8opkTF8Jy7: #d1d5db;
  --plasmic-token-basic-border: var(--token-OL8opkTF8Jy7);
  --token--9VCnKzQnuoa: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token--9VCnKzQnuoa);
  --token-YJh4rjwzM_nP: 1rem;
  --plasmic-token-size-16: var(--token-YJh4rjwzM_nP);
  --token-j36yqbLRSv4k: #ffffff;
  --plasmic-token-basic-container-background: var(--token-j36yqbLRSv4k);
  --token-UInipUF6QD71: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-UInipUF6QD71);
  --token-H8nIETq3YGx8: 1.5rem;
  --plasmic-token-size-24: var(--token-H8nIETq3YGx8);
  --token-x7Igpu06l_Gv: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-x7Igpu06l_Gv);
  --token-ycRh5DILhgk3: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-ycRh5DILhgk3);
  --token-GVmg7yaE-Tp8: #f49425;
  --plasmic-token-tsf-mid: var(--token-GVmg7yaE-Tp8);
  --token-zrH0XRQElDBe: #820a02;
  --plasmic-token-tsf-orange: var(--token-zrH0XRQElDBe);
  --token-ElSOFvpR3TI_: #fcb02c;
  --plasmic-token-tsf-gold: var(--token-ElSOFvpR3TI_);
  --token-W0iO0NUpne5G: 18px;
  --plasmic-token-18-px-type: var(--token-W0iO0NUpne5G);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-0V5BqeztemoW_font-family: "Inter", sans-serif;
  --mixin-0V5BqeztemoW_font-size: 16px;
  --mixin-0V5BqeztemoW_font-weight: 400;
  --mixin-0V5BqeztemoW_font-style: normal;
  --mixin-0V5BqeztemoW_color: #535353;
  --mixin-0V5BqeztemoW_text-align: left;
  --mixin-0V5BqeztemoW_text-transform: none;
  --mixin-0V5BqeztemoW_line-height: 1.5;
  --mixin-0V5BqeztemoW_letter-spacing: normal;
  --mixin-0V5BqeztemoW_white-space: pre-wrap;
  --mixin-0V5BqeztemoW_user-select: text;
  --mixin-0V5BqeztemoW_text-decoration-line: none;
  --mixin-0V5BqeztemoW_text-overflow: clip;
  --mixin-3NJYbMRElvQQ_color: var(--token-cWeyo_c_z-kE);
  --mixin-3NJYbMRElvQQ_font-weight: 700;
  --mixin-3NJYbMRElvQQ_font-size: 50px;
  --mixin-3NJYbMRElvQQ_line-height: 1;
  --mixin-3NJYbMRElvQQ_letter-spacing: -1px;
  --mixin-3NJYbMRElvQQ_font-family: "Inter", sans-serif;
  --mixin-3NJYbMRElvQQ_white-space: pre-wrap;
  --mixin-MT_MJEVgaxfy_color: #000000;
  --mixin-MT_MJEVgaxfy_font-weight: 700;
  --mixin-MT_MJEVgaxfy_font-size: 36px;
  --mixin-MT_MJEVgaxfy_line-height: 1.1;
  --mixin-MT_MJEVgaxfy_letter-spacing: -1px;
  --mixin-MT_MJEVgaxfy_font-family: "Inter", sans-serif;
  --mixin-MT_MJEVgaxfy_white-space: pre-wrap;
  --mixin-srfBqfAHd32t_color: #3291ff;
  --mixin-srfBqfAHd32t_white-space: pre-wrap;
  --mixin-fPXl8vckIjAp_color: #000000;
  --mixin-fPXl8vckIjAp_font-weight: 600;
  --mixin-fPXl8vckIjAp_font-size: 28px;
  --mixin-fPXl8vckIjAp_line-height: 1.2;
  --mixin-fPXl8vckIjAp_letter-spacing: -0.8px;
  --mixin-fPXl8vckIjAp_font-family: "Inter", sans-serif;
  --mixin-fPXl8vckIjAp_white-space: pre-wrap;
  --mixin-bteOJ3qRLPNH_color: #000000;
  --mixin-bteOJ3qRLPNH_font-weight: 600;
  --mixin-bteOJ3qRLPNH_font-size: 24px;
  --mixin-bteOJ3qRLPNH_line-height: 1.3;
  --mixin-bteOJ3qRLPNH_letter-spacing: -0.5px;
  --mixin-bteOJ3qRLPNH_white-space: pre-wrap;
  --mixin-Bjh4wWx5-R6__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Bjh4wWx5-R6__border-bottom-color: #dddddd;
  --mixin-Bjh4wWx5-R6__border-bottom-style: solid;
  --mixin-Bjh4wWx5-R6__border-bottom-width: 1px;
  --mixin-Bjh4wWx5-R6__border-left-color: #dddddd;
  --mixin-Bjh4wWx5-R6__border-left-style: solid;
  --mixin-Bjh4wWx5-R6__border-left-width: 1px;
  --mixin-Bjh4wWx5-R6__border-right-color: #dddddd;
  --mixin-Bjh4wWx5-R6__border-right-style: solid;
  --mixin-Bjh4wWx5-R6__border-right-width: 1px;
  --mixin-Bjh4wWx5-R6__border-top-color: #dddddd;
  --mixin-Bjh4wWx5-R6__border-top-style: solid;
  --mixin-Bjh4wWx5-R6__border-top-width: 1px;
  --mixin-Bjh4wWx5-R6__border-bottom-left-radius: 3px;
  --mixin-Bjh4wWx5-R6__border-bottom-right-radius: 3px;
  --mixin-Bjh4wWx5-R6__border-top-left-radius: 3px;
  --mixin-Bjh4wWx5-R6__border-top-right-radius: 3px;
  --mixin-Bjh4wWx5-R6__font-family: "Inconsolata";
  --mixin-Bjh4wWx5-R6__padding-bottom: 1px;
  --mixin-Bjh4wWx5-R6__padding-left: 4px;
  --mixin-Bjh4wWx5-R6__padding-right: 4px;
  --mixin-Bjh4wWx5-R6__padding-top: 1px;
  --mixin-Bjh4wWx5-R6__white-space: pre-wrap;
  --mixin-Vc0UO5r2yvoE_border-left-color: #dddddd;
  --mixin-Vc0UO5r2yvoE_border-left-style: solid;
  --mixin-Vc0UO5r2yvoE_border-left-width: 3px;
  --mixin-Vc0UO5r2yvoE_color: #888888;
  --mixin-Vc0UO5r2yvoE_padding-left: 10px;
  --mixin-Vc0UO5r2yvoE_white-space: pre-wrap;
  --mixin-Ka9f811q8xQF_font-family: "Inter", sans-serif;
  --mixin-Ka9f811q8xQF_color: #000000;
  --mixin-Ka9f811q8xQF_font-size: 16px;
  --mixin-Ka9f811q8xQF_font-weight: 600;
  --mixin-Ka9f811q8xQF_line-height: 1.5;
  --mixin-Ka9f811q8xQF_white-space: pre-wrap;
  --mixin-W1m-tbUS-CDt_font-family: "Inter", sans-serif;
  --mixin-W1m-tbUS-CDt_font-size: 20px;
  --mixin-W1m-tbUS-CDt_font-weight: 500;
  --mixin-W1m-tbUS-CDt_color: var(--token-Ry9eGMy91QvA);
  --mixin-W1m-tbUS-CDt_white-space: pre-wrap;
  --mixin-LWUe18uXJgLE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-LWUe18uXJgLE_border-bottom-color: #dddddd;
  --mixin-LWUe18uXJgLE_border-bottom-style: solid;
  --mixin-LWUe18uXJgLE_border-bottom-width: 1px;
  --mixin-LWUe18uXJgLE_border-left-color: #dddddd;
  --mixin-LWUe18uXJgLE_border-left-style: solid;
  --mixin-LWUe18uXJgLE_border-left-width: 1px;
  --mixin-LWUe18uXJgLE_border-right-color: #dddddd;
  --mixin-LWUe18uXJgLE_border-right-style: solid;
  --mixin-LWUe18uXJgLE_border-right-width: 1px;
  --mixin-LWUe18uXJgLE_border-top-color: #dddddd;
  --mixin-LWUe18uXJgLE_border-top-style: solid;
  --mixin-LWUe18uXJgLE_border-top-width: 1px;
  --mixin-LWUe18uXJgLE_border-bottom-left-radius: 3px;
  --mixin-LWUe18uXJgLE_border-bottom-right-radius: 3px;
  --mixin-LWUe18uXJgLE_border-top-left-radius: 3px;
  --mixin-LWUe18uXJgLE_border-top-right-radius: 3px;
  --mixin-LWUe18uXJgLE_font-family: "Inconsolata";
  --mixin-LWUe18uXJgLE_padding-bottom: 3px;
  --mixin-LWUe18uXJgLE_padding-left: 6px;
  --mixin-LWUe18uXJgLE_padding-right: 6px;
  --mixin-LWUe18uXJgLE_padding-top: 3px;
  --mixin-LWUe18uXJgLE_white-space: pre-wrap;
  --mixin-cGMWGGkzAB59_display: flex;
  --mixin-cGMWGGkzAB59_flex-direction: column;
  --mixin-cGMWGGkzAB59_align-items: stretch;
  --mixin-cGMWGGkzAB59_justify-content: flex-start;
  --mixin-cGMWGGkzAB59_list-style-position: outside;
  --mixin-cGMWGGkzAB59_padding-left: 40px;
  --mixin-cGMWGGkzAB59_position: relative;
  --mixin-cGMWGGkzAB59_list-style-type: decimal;
  --mixin-cGMWGGkzAB59_white-space: pre-wrap;
  --mixin-ZsEXRC7P_Ctt_display: flex;
  --mixin-ZsEXRC7P_Ctt_flex-direction: column;
  --mixin-ZsEXRC7P_Ctt_align-items: stretch;
  --mixin-ZsEXRC7P_Ctt_justify-content: flex-start;
  --mixin-ZsEXRC7P_Ctt_list-style-position: outside;
  --mixin-ZsEXRC7P_Ctt_padding-left: 40px;
  --mixin-ZsEXRC7P_Ctt_position: relative;
  --mixin-ZsEXRC7P_Ctt_list-style-type: disc;
  --mixin-ZsEXRC7P_Ctt_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-KGelU2djWoPr_white-space: pre-wrap;
  --plasmic-mixin-menu-text_white-space: var(--mixin-KGelU2djWoPr_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-0V5BqeztemoW_font-family);
  font-size: var(--mixin-0V5BqeztemoW_font-size);
  font-weight: var(--mixin-0V5BqeztemoW_font-weight);
  font-style: var(--mixin-0V5BqeztemoW_font-style);
  color: var(--mixin-0V5BqeztemoW_color);
  text-align: var(--mixin-0V5BqeztemoW_text-align);
  text-transform: var(--mixin-0V5BqeztemoW_text-transform);
  line-height: var(--mixin-0V5BqeztemoW_line-height);
  letter-spacing: var(--mixin-0V5BqeztemoW_letter-spacing);
  white-space: var(--mixin-0V5BqeztemoW_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-3NJYbMRElvQQ_color);
  font-weight: var(--mixin-3NJYbMRElvQQ_font-weight);
  font-size: var(--mixin-3NJYbMRElvQQ_font-size);
  line-height: var(--mixin-3NJYbMRElvQQ_line-height);
  letter-spacing: var(--mixin-3NJYbMRElvQQ_letter-spacing);
  font-family: var(--mixin-3NJYbMRElvQQ_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-MT_MJEVgaxfy_color);
  font-weight: var(--mixin-MT_MJEVgaxfy_font-weight);
  font-size: var(--mixin-MT_MJEVgaxfy_font-size);
  line-height: var(--mixin-MT_MJEVgaxfy_line-height);
  letter-spacing: var(--mixin-MT_MJEVgaxfy_letter-spacing);
  font-family: var(--mixin-MT_MJEVgaxfy_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-srfBqfAHd32t_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-fPXl8vckIjAp_color);
  font-weight: var(--mixin-fPXl8vckIjAp_font-weight);
  font-size: var(--mixin-fPXl8vckIjAp_font-size);
  line-height: var(--mixin-fPXl8vckIjAp_line-height);
  letter-spacing: var(--mixin-fPXl8vckIjAp_letter-spacing);
  font-family: var(--mixin-fPXl8vckIjAp_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-bteOJ3qRLPNH_color);
  font-weight: var(--mixin-bteOJ3qRLPNH_font-weight);
  font-size: var(--mixin-bteOJ3qRLPNH_font-size);
  line-height: var(--mixin-bteOJ3qRLPNH_line-height);
  letter-spacing: var(--mixin-bteOJ3qRLPNH_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Bjh4wWx5-R6__font-family);
  border-radius: var(--mixin-Bjh4wWx5-R6__border-top-left-radius)
    var(--mixin-Bjh4wWx5-R6__border-top-right-radius)
    var(--mixin-Bjh4wWx5-R6__border-bottom-right-radius)
    var(--mixin-Bjh4wWx5-R6__border-bottom-left-radius);
  padding: var(--mixin-Bjh4wWx5-R6__padding-top)
    var(--mixin-Bjh4wWx5-R6__padding-right)
    var(--mixin-Bjh4wWx5-R6__padding-bottom)
    var(--mixin-Bjh4wWx5-R6__padding-left);
  border-top: var(--mixin-Bjh4wWx5-R6__border-top-width)
    var(--mixin-Bjh4wWx5-R6__border-top-style)
    var(--mixin-Bjh4wWx5-R6__border-top-color);
  border-right: var(--mixin-Bjh4wWx5-R6__border-right-width)
    var(--mixin-Bjh4wWx5-R6__border-right-style)
    var(--mixin-Bjh4wWx5-R6__border-right-color);
  border-bottom: var(--mixin-Bjh4wWx5-R6__border-bottom-width)
    var(--mixin-Bjh4wWx5-R6__border-bottom-style)
    var(--mixin-Bjh4wWx5-R6__border-bottom-color);
  border-left: var(--mixin-Bjh4wWx5-R6__border-left-width)
    var(--mixin-Bjh4wWx5-R6__border-left-style)
    var(--mixin-Bjh4wWx5-R6__border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Vc0UO5r2yvoE_color);
  padding-left: var(--mixin-Vc0UO5r2yvoE_padding-left);
  border-left: var(--mixin-Vc0UO5r2yvoE_border-left-width)
    var(--mixin-Vc0UO5r2yvoE_border-left-style)
    var(--mixin-Vc0UO5r2yvoE_border-left-color);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-Ka9f811q8xQF_font-family);
  color: var(--mixin-Ka9f811q8xQF_color);
  font-size: var(--mixin-Ka9f811q8xQF_font-size);
  font-weight: var(--mixin-Ka9f811q8xQF_font-weight);
  line-height: var(--mixin-Ka9f811q8xQF_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-W1m-tbUS-CDt_font-family);
  font-size: var(--mixin-W1m-tbUS-CDt_font-size);
  font-weight: var(--mixin-W1m-tbUS-CDt_font-weight);
  color: var(--mixin-W1m-tbUS-CDt_color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-LWUe18uXJgLE_font-family);
  border-radius: var(--mixin-LWUe18uXJgLE_border-top-left-radius)
    var(--mixin-LWUe18uXJgLE_border-top-right-radius)
    var(--mixin-LWUe18uXJgLE_border-bottom-right-radius)
    var(--mixin-LWUe18uXJgLE_border-bottom-left-radius);
  padding: var(--mixin-LWUe18uXJgLE_padding-top)
    var(--mixin-LWUe18uXJgLE_padding-right)
    var(--mixin-LWUe18uXJgLE_padding-bottom)
    var(--mixin-LWUe18uXJgLE_padding-left);
  border-top: var(--mixin-LWUe18uXJgLE_border-top-width)
    var(--mixin-LWUe18uXJgLE_border-top-style)
    var(--mixin-LWUe18uXJgLE_border-top-color);
  border-right: var(--mixin-LWUe18uXJgLE_border-right-width)
    var(--mixin-LWUe18uXJgLE_border-right-style)
    var(--mixin-LWUe18uXJgLE_border-right-color);
  border-bottom: var(--mixin-LWUe18uXJgLE_border-bottom-width)
    var(--mixin-LWUe18uXJgLE_border-bottom-style)
    var(--mixin-LWUe18uXJgLE_border-bottom-color);
  border-left: var(--mixin-LWUe18uXJgLE_border-left-width)
    var(--mixin-LWUe18uXJgLE_border-left-style)
    var(--mixin-LWUe18uXJgLE_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-cGMWGGkzAB59_display);
  flex-direction: var(--mixin-cGMWGGkzAB59_flex-direction);
  align-items: var(--mixin-cGMWGGkzAB59_align-items);
  justify-content: var(--mixin-cGMWGGkzAB59_justify-content);
  list-style-position: var(--mixin-cGMWGGkzAB59_list-style-position);
  padding-left: var(--mixin-cGMWGGkzAB59_padding-left);
  position: var(--mixin-cGMWGGkzAB59_position);
  list-style-type: var(--mixin-cGMWGGkzAB59_list-style-type);
  column-gap: var(--mixin-cGMWGGkzAB59_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-ZsEXRC7P_Ctt_display);
  flex-direction: var(--mixin-ZsEXRC7P_Ctt_flex-direction);
  align-items: var(--mixin-ZsEXRC7P_Ctt_align-items);
  justify-content: var(--mixin-ZsEXRC7P_Ctt_justify-content);
  list-style-position: var(--mixin-ZsEXRC7P_Ctt_list-style-position);
  padding-left: var(--mixin-ZsEXRC7P_Ctt_padding-left);
  position: var(--mixin-ZsEXRC7P_Ctt_position);
  list-style-type: var(--mixin-ZsEXRC7P_Ctt_list-style-type);
  column-gap: var(--mixin-ZsEXRC7P_Ctt_column-gap);
}
