.ariaRangeSlider:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--token-Ap6XFnEQdRgj);
  font-family: var(--token-6gvBJ3setIP6);
  font-size: var(--token-7jxcIMkCaZ3D);
  line-height: var(--token-3KAsnA2RoY0U);
  min-width: 200px;
  row-gap: var(--token-aKEnaaR5maWQ);
}
.ariaRangeSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__gXRca {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  column-gap: var(--token-itBX5pocdFhC);
}
.text___6WFx4 {
  position: relative;
}
.text {
  position: relative;
}
.freeBox__y4YhW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-qxMgMJZ_qTUy);
  padding-bottom: var(--token-qxMgMJZ_qTUy);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-x7Igpu06l_Gv);
  height: var(--token-itBX5pocdFhC);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-itBX5pocdFhC);
  width: 100%;
  min-width: 0;
}
.sliderThumb__biFf8:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-yvYKYD-s4B8W);
}
.foreground {
  display: block;
  background: var(--token-i9L7MZlgWlpe);
  height: var(--token-itBX5pocdFhC);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
