.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__oNiMk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sz1Th {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__sz1Th {
    width: 100%;
    min-width: 0;
    padding: 128px 32px;
  }
}
.freeBox__lVdNv {
  display: block;
  position: absolute;
  height: 500px;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
  background: var(--token-ZIJHPj2-rUBQ);
  flex-shrink: 0;
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  max-width: 1080px;
  row-gap: 64px;
}
.freeBox__sc0G4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__apmFd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h1 {
  color: var(--token-cWeyo_c_z-kE);
}
.text__jEax7 {
  height: auto;
  max-width: 699px;
  width: 100%;
  color: var(--token-cWeyo_c_z-kE);
  text-align: center;
  min-width: 0;
}
.freeBox__zAm72 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zAm72 {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__eAyX1 {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
}
.freeBox__usSjL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  padding: 32px;
}
.text__ogp7Z {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
}
.freeBox__g2ILh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.freeBox__gOnhs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__jQ5M7 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__ndAuK {
  width: auto;
}
.text__vR7LP {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
  font-family: "Montserrat", sans-serif;
}
.freeBox__ixW77 {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__ng5Xc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  row-gap: 32px;
  padding: 32px;
}
.freeBox___5JccF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox___1Ysf6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__ydZcm {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__icoTy {
  object-fit: cover;
  color: var(--token-Icaa79LJn7OD);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__fttob {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__upp5V {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___6LbWr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__x5U2K {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__aUsrg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox___07M0B {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__i39Mj {
  object-fit: cover;
  color: var(--token-Icaa79LJn7OD);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___9TdLg {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__lmP9 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__cpUa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__weAy5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__w9Cso {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.button__yPa4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__lThaw {
  position: relative;
  height: 1em;
}
.text__zdOab {
  white-space: pre;
  padding-bottom: 0px;
}
.svg__sJmTp {
  position: relative;
  height: 1em;
}
.freeBox__l8EeW {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  border: 4px solid var(--token-ZIJHPj2-rUBQ);
}
.freeBox___2Z37K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--token-owaeXHRlq_pV);
  row-gap: 16px;
  padding: 32px;
}
.text__g6CB {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  color: var(--token-ZIJHPj2-rUBQ);
}
.freeBox__ci8Jy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.freeBox__dcb30 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__a18YJ {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__kL1Jz {
  width: auto;
}
.text___306Oc {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.freeBox___2UFZu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  align-self: flex-end;
  row-gap: 32px;
  padding: 32px;
}
.freeBox__iFe3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__e7Fpl {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__lJa4B {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__yWhnP {
  object-fit: cover;
  color: var(--token-Icaa79LJn7OD);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__yVn6V {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__iur2Y {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__j6Coa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__oklnB {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__l1R0 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__b5E8 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__q4Vab {
  object-fit: cover;
  color: var(--token-Icaa79LJn7OD);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__eReWo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__jTqdd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__rzXdY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text___9JZo {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.text__tsdgo {
  height: auto;
}
.freeBox__bifRz {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__qtXOc {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___4T6Lk {
  object-fit: cover;
  color: var(--token-Icaa79LJn7OD);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__sUntZ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__rC0Lw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__qLkiy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__sUr96 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__bAwgL {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__u82Rx {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__hbbEx {
  object-fit: cover;
  color: var(--token-Icaa79LJn7OD);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__l3Vc1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg___4ISs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__zeUWk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__wildh {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.text___8Z63 {
  height: auto;
}
.freeBox__dc7U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.button__zl3X:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__exFcB {
  position: relative;
  height: 1em;
}
.text__sqZW {
  white-space: pre;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.svg__liD2P {
  position: relative;
  height: 1em;
}
.freeBox__hLnMi {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__sdwJ4 {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
}
.freeBox__tYvKe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  padding: 32px;
}
.text__mQlP {
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
}
.freeBox__aiLda {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.freeBox___7HhGj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__xbrcK {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__jwyoU {
  width: auto;
}
.text___2T4YC {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.freeBox__slOTq {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__p0Dat {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  row-gap: 32px;
  padding: 32px;
}
.freeBox__d67Ue {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__mUr2U {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__yPerz {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___5SzAn {
  object-fit: cover;
  color: var(--token-Icaa79LJn7OD);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___6SHns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__qyCa {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__sB3Tg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__vrM4W {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__bjNv4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__hlnEz {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__azefr {
  object-fit: cover;
  color: var(--token-Icaa79LJn7OD);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__yJvf3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__p3ZeO {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__sokzS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__om6E {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox___03L7X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.button___2XzSo:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__hrJyt {
  position: relative;
  height: 1em;
}
.text__paroA {
  white-space: pre;
  padding-bottom: 0px;
}
.svg__kQofa {
  position: relative;
  height: 1em;
}
.faQs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-KWOVvlGrpO8X);
  min-width: 0;
  padding: 4.17em 15px 3.33em;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .faQs {
    padding: 3em 15px 1.5em;
  }
}
.container5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 750px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.h2__afOXd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__afOXd {
    font-size: 24px;
  }
}
.text__epuKn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 677px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__epuKn {
    font-size: 1em;
    margin: 0px 0px 0em;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1380px;
  column-gap: 30px;
  min-width: 0;
  --plsmc-rc-col-gap: 30px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 30px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xuBIi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__rngrt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__rngrt {
    font-size: 18px;
    padding: 15px;
  }
}
.text__tycSk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__tycSk {
    padding: 15px;
  }
}
.column__pEz2M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__ejDc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__ejDc {
    font-size: 18px;
    padding: 15px;
  }
}
.text___6Ja76 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___6Ja76 {
    padding: 15px;
  }
}
.column__nhsEk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__v1NUf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__v1NUf {
    font-size: 18px;
    padding: 15px;
  }
}
.text__kSs40 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__kSs40 {
    padding: 15px;
  }
}
.column___2YPrl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__micLc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__micLc {
    font-size: 18px;
    padding: 15px;
  }
}
.text__ahWya {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ahWya {
    padding: 15px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
