.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.freeBox__mDhU8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nT3Lu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  box-shadow: 0px 10px 16px 0px #00000033;
  min-width: 0;
  padding: 0px;
}
.tsfDemandMainNavigation:global(.__wab_instance) {
  position: relative;
}
.freeBox__aubmX {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-GVmg7yaE-Tp8);
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__aubmX {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__bO4Om {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  min-width: 0;
  padding: 19px 32px 21px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__bO4Om {
    padding-top: 87px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox___0AuEg {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  column-gap: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___0AuEg {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__suwQy {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__ypwXv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.h1 {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.25;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h3__ksHcI {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.25;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__t0NoZ {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  max-width: 762px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
  margin-right: 26px;
  min-width: 0;
}
.ariaButton__wvxi5:global(.__wab_instance) {
  position: relative;
  background: #374151;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  outline-style: none;
  text-decoration-line: none;
  max-width: 100%;
  border-radius: 0.375rem;
  padding: 0rem;
  border-width: 0px;
}
.softBackground3 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #e5e7eb;
  border-radius: 0.375rem;
}
.border3 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 0.375rem;
  border: 0px solid #d1d5db;
}
.interactionEffect3 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 0.375rem;
}
.freeBox___5M2Ha {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: 0.375rem;
  min-width: 0;
  min-height: 0;
  padding: 0.375rem 0.75rem;
}
.freeBox__pur3M {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.svg___8WXDa {
  position: relative;
  color: #f9fafb;
  height: 1em;
  flex-shrink: 0;
}
.text__uuqgH {
  white-space: pre;
  padding-bottom: 0px;
  color: #f9fafb;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__a44XX {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.svg__j3Ux3 {
  position: relative;
  color: #f9fafb;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__naLnQ {
  display: flex;
  position: relative;
  height: 400px;
}
.freeBox__gBdBp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: none;
  max-height: none;
  height: 400px;
  width: 400px;
  object-position: center center;
  flex-shrink: 0;
  border-radius: 50%;
}
.img > picture > img {
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img {
    margin-bottom: 24px;
  }
}
.columns__zqSBi {
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__zqSBi > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zqSBi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zqSBi > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.outer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background:
    url("/plasmic/tsf_demand_website/images/parallax01Jpg.jpg") top 50% left 50% / cover repeat,
    #ffffff;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .outer {
    padding: 4.17em 15px 3.33em;
  }
}
.container3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 945px;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.container3 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.container3 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container3 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2BETb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 10px;
  }
}
.text___5Md91 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column___5NrSh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.ariaButton__qvEbW:global(.__wab_instance) {
  position: relative;
  background: #2563eb;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  outline-style: none;
  text-decoration-line: none;
  max-width: 100%;
  border-radius: 0.375rem;
  padding: 0rem;
  border-width: 0px;
}
.softBackground10 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #dbeafe;
  border-radius: 0.375rem;
}
.border10 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 0.375rem;
  border: 0px solid #93c5fd;
}
.interactionEffect10 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 0.375rem;
}
.freeBox__djNn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: 0.375rem;
  min-width: 0;
  min-height: 0;
  padding: 0.375rem 0.75rem;
}
.freeBox__jUkPt {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.svg__heYXm {
  position: relative;
  color: #eff6ff;
  height: 1em;
  flex-shrink: 0;
}
.text__tiLa0 {
  white-space: pre;
  color: #eff6ff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__sJbj2 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.svg__fdizt {
  object-fit: cover;
  max-width: 100%;
  color: #eff6ff;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__ypArW {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
  border: var(--token-yvYKYD-s4B8W) solid var(--token-zrH0XRQElDBe);
}
.columns__e8Kqw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  max-width: 1080px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
}
.columns__e8Kqw > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__e8Kqw {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__e8Kqw > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aOf6A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__aOf6A {
    width: 100%;
  }
}
.freeBox__sOacI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 32px;
  min-width: 0;
}
.text__x10Qv {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__uj0Yy {
  font-size: 22px;
  color: #05050599;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__x1CHh {
  font-size: 22px;
  color: #05050599;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__wDaS5 {
  font-size: 30px;
  color: #05050599;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: 1121px;
  width: 100%;
  min-width: 0;
}
.freeBox__e78Q {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
  width: 100%;
  row-gap: 32px;
  margin-bottom: 0px;
  background: #ffffff;
  min-width: 0;
  padding: 26px 16px 40px;
}
.freeBox__ox7U1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1202px;
  row-gap: 32px;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
}
.text__vQs3H {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 800;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__gq4DL {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__dU8XZ {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: 993px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__dU8XZ {
    text-align: center;
  }
}
.text__vCqc5 {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: 993px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__vCqc5 {
    text-align: center;
  }
}
.freeBox__uYCn2 {
  display: flex;
  position: relative;
  max-width: 1202px;
  width: 100%;
  flex-shrink: 1;
  row-gap: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
}
.text__acvFu {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__xkBqa {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: 993px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__xkBqa {
    text-align: center;
  }
}
.freeBox__xdc6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1202px;
  row-gap: 32px;
  width: 100%;
  min-width: 0;
}
.text__mnXxi {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__tCnYa {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: 993px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__tCnYa {
    text-align: center;
  }
}
.freeBox__akKeU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1202px;
  row-gap: 32px;
  width: 100%;
  min-width: 0;
}
.text__yI0Ux {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__mh9Pj {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: 993px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__mh9Pj {
    text-align: center;
  }
}
.text__oWwto {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: 993px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__oWwto {
    text-align: center;
  }
}
.freeBox__mEs0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: relative;
  width: 100%;
  background: var(--token-f4-SJ4ELT8m0);
  min-width: 0;
  padding: 32px;
}
.columns__qrL6D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  max-width: 1262px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
}
.columns__qrL6D > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__qrL6D > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qrL6D {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qrL6D > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7Gj7Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___7Gj7Z {
    width: 100%;
  }
}
.freeBox__bhG6K {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 624px;
  margin-right: 18px;
  align-self: flex-start;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 21px;
  min-width: 0;
}
.text__i8RqO {
  font-size: 45px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 0px;
  position: relative;
  left: auto;
  top: auto;
}
.text__iRxin {
  font-size: 36px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
}
.text__gmgk1 {
  font-size: 22px;
  color: var(--token-Ry9eGMy91QvA);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___4O99K {
  font-size: 22px;
  color: var(--token-Ry9eGMy91QvA);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__czrYq {
  font-size: 22px;
  color: var(--token-Ry9eGMy91QvA);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__jc50Z {
  display: flex;
  flex-direction: column;
}
.li__deJs6 {
  font-size: var(--token-W0iO0NUpne5G);
}
.ul__u3CA {
  display: flex;
  flex-direction: column;
}
.li__hvQy6 {
  font-size: var(--token-W0iO0NUpne5G);
}
.li__zYga2 {
  font-size: var(--token-W0iO0NUpne5G);
}
.text___1WAa {
  font-size: 22px;
  color: var(--token-Ry9eGMy91QvA);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2___4ZftL:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  height: auto;
}
.text___8GAdk {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-j36yqbLRSv4k);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__uWsKt {
  position: relative;
  width: 24px;
  height: 24px;
  color: var(--token-j36yqbLRSv4k);
}
.svg___6EvSu {
  position: relative;
  height: 1em;
}
.column__zXxGj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__zXxGj {
    width: 100%;
  }
}
.freeBox__lIjK {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 624px;
  margin-right: 18px;
  align-self: flex-start;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 21px;
  min-width: 0;
}
.text__an66 {
  font-size: 45px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 0px;
  position: relative;
  left: auto;
  top: auto;
  margin-right: 0px;
}
.text__vntgB {
  font-size: 36px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
}
.text__iOxvt {
  font-size: 22px;
  color: var(--token-Ry9eGMy91QvA);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___503Ua {
  font-size: 22px;
  color: var(--token-Ry9eGMy91QvA);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ga7XG {
  font-size: 22px;
  color: var(--token-Ry9eGMy91QvA);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__xHm3Q {
  display: flex;
  flex-direction: column;
}
.li__bNVmw {
  font-size: var(--token-W0iO0NUpne5G);
}
.ul___5GgMn {
  display: flex;
  flex-direction: column;
}
.li__oJhEs {
  font-size: var(--token-W0iO0NUpne5G);
}
.li__vpqB {
  font-size: var(--token-W0iO0NUpne5G);
}
.text__wKbzc {
  font-size: 22px;
  color: var(--token-Ry9eGMy91QvA);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2__jgxIz:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  height: auto;
}
.text__o7Pgu {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-j36yqbLRSv4k);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__piXzp {
  position: relative;
  width: 24px;
  height: 24px;
  color: var(--token-j36yqbLRSv4k);
}
.svg__c96P1 {
  position: relative;
  height: 1em;
}
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  width: 100%;
  column-gap: 64px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 30px 64px 14px 26px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 32px;
    column-gap: 0px;
    min-width: 0;
    padding: 128px 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 1280px;
  column-gap: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .foreground {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__qMde3 {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.freeBox__yMa4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid #0000001a;
}
.svg__oTqP {
  position: relative;
  object-fit: cover;
  width: 60px;
  height: 60px;
  color: var(--token-vQyax-nfo-J2);
  flex-shrink: 0;
}
.h3__qGm5H {
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 18px;
}
.freeBox__r7C9G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid #0000001a;
}
.svg__yMoP7 {
  position: relative;
  object-fit: cover;
  width: 60px;
  height: 60px;
  color: var(--token-vQyax-nfo-J2);
  flex-shrink: 0;
}
.h3__foCj5 {
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 18px;
}
.freeBox__hIOnA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid #0000001a;
}
.svg__xDXtR {
  position: relative;
  object-fit: cover;
  width: 60px;
  height: 60px;
  color: var(--token-vQyax-nfo-J2);
  flex-shrink: 0;
}
.h3__rAaF {
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 18px;
}
.freeBox__rb7Cc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid #0000001a;
}
.svg__kgAQy {
  position: relative;
  object-fit: cover;
  width: 60px;
  height: 60px;
  color: var(--token-vQyax-nfo-J2);
  flex-shrink: 0;
}
.h3___8Ydc {
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 18px;
}
.freeBox__omePd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid #0000001a;
}
.svg__lHwg7 {
  position: relative;
  object-fit: cover;
  width: 60px;
  height: 60px;
  color: var(--token-vQyax-nfo-J2);
  flex-shrink: 0;
}
.h3__gZg7X {
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 18px;
}
.freeBox__hr0Nv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
  border: var(--token-yvYKYD-s4B8W) solid var(--token-zrH0XRQElDBe);
}
.columns__dlLju {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  max-width: 1240px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
}
.columns__dlLju > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dlLju {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dlLju > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cfwv1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__cfwv1 {
    width: 100%;
  }
}
.freeBox__v2Idr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 32px;
  min-width: 0;
}
.text__z1FeD {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__mWyvp {
  font-size: 22px;
  color: #05050599;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__nFhJy {
  font-size: 22px;
  color: #05050599;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.text__iaChx {
  font-size: 22px;
  color: #05050599;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.freeBox___4ZJ2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: relative;
  width: 100%;
  background: var(--token-zrH0XRQElDBe);
  min-width: 0;
  padding: 32px;
  border-style: solid;
  border-color: var(--token-zrH0XRQElDBe);
}
.columns___44PCx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  max-width: 1240px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
}
.columns___44PCx > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___44PCx {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___44PCx > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__asOv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__asOv {
    width: 100%;
  }
}
.freeBox__mQv3F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 32px;
  min-width: 0;
}
.text__pmw9M {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-j36yqbLRSv4k);
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__rekYk {
  font-size: 22px;
  color: var(--token-j36yqbLRSv4k);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__tC2Xe {
  font-size: 22px;
  color: var(--token-j36yqbLRSv4k);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__mgcVf {
  font-size: 22px;
  color: var(--token-j36yqbLRSv4k);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__eDhz0 {
  font-size: 22px;
  color: var(--token-j36yqbLRSv4k);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ikJbh {
  font-size: 22px;
  color: var(--token-j36yqbLRSv4k);
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link {
  padding-left: 0px;
  color: var(--token-f4-SJ4ELT8m0);
}
.tsfFooter:global(.__wab_instance) {
  position: relative;
}
