.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-yvYKYD-s4B8W);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__nvPms {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-yvYKYD-s4B8W);
}
.radio___8Ip1:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__f50Gl:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__qxO01:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
