.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.freeBox__pWyEl {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  box-shadow: 0px 10px 16px 0px #00000033;
  min-width: 0;
  padding: 0px;
}
.tsfDemandMainNavigation:global(.__wab_instance) {
  max-width: 100%;
}
.mainSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection {
    padding: 3em 15px 1.5em;
  }
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-zrH0XRQElDBe);
  min-width: 0;
  padding: 0px;
}
.freeBox__wp5Pt {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 64px 32px 58px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__wp5Pt {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: none;
    max-width: 1380px;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 12px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    column-gap: 0px;
    row-gap: 12px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fCoXm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__kcbGf {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #0f22229c;
  width: 800px;
  height: auto;
  margin-right: 0px;
  left: 37px;
  top: 98px;
  z-index: 111;
  row-gap: 16px;
  padding: 30px 28px 30px 30px;
  border-left: 8px solid #f4efeb;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__kcbGf {
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #0f22229c;
    width: 100%;
    height: auto;
    z-index: 111;
    row-gap: 16px;
    column-gap: 0px;
    min-width: 0;
    padding: 30px;
    margin: 0px;
    border-left: 8px solid #f4efeb;
  }
}
.h1 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.25;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.text___1OrR {
  margin-top: 10px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column___2Mc5Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__c9O43 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__c9O43 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__c9O43 {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__c9O43 > picture > img {
    object-fit: cover;
  }
}
.mainSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-x7Igpu06l_Gv);
  min-width: 0;
  padding: 4.17em 15px 3.33em;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #f7f9fb;
    column-gap: 0px;
    min-width: 0;
    padding: 3em 15px 1.5em;
    margin: 0px;
  }
}
.container3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: #ffffff;
  padding: 30px;
}
.freeBox__xOhw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__faONn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__faONn {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__lF7J {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__lF7J {
    position: relative;
    width: 100%;
    height: auto;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___41Ofy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__kQz5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__kQz5 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.ul {
  display: flex;
  flex-direction: column;
}
.text___9GbyS {
  margin-bottom: 12px;
}
.freeBox__eq8K9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  margin-top: 22px;
  min-width: 0;
  padding: 8px -81px 8px 8px;
}
.h3___9RuDf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3___9RuDf {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__ug5G4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ug5G4 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.text___5Gssq {
  margin-left: 60px;
}
.text___3GYSz {
  margin-left: 60px;
}
.text__d4DyH {
  margin-left: 60px;
}
.text__oPbMy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__oPbMy {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__jCgf6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  margin-top: 22px;
  min-width: 0;
  padding: 8px -81px 8px 8px;
}
.h3__oro9C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__oro9C {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__myhQw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__myhQw {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.text__pJfH {
  margin-left: 60px;
}
.text__bKn4 {
  margin-left: 60px;
}
.text__x1GF9 {
  margin-left: 60px;
}
.text__qs2Kw {
  margin-left: 60px;
}
.text___0GyC0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___0GyC0 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__v2IKv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.freeBox__dZ2PG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  margin-top: 22px;
  min-width: 0;
  padding: 8px -81px 8px 8px;
}
.h3__dwg5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__dwg5 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__yvFuv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__yvFuv {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.text__tbAK {
  margin-left: 60px;
}
.text__vc9H7 {
  margin-left: 60px;
}
.text__fRO5 {
  margin-left: 60px;
}
.text___7Rd5X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___7Rd5X {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__wZmSb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3___85DB9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3___85DB9 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__mAu3Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__mAu3Y {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___4TRwn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__mUfPk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__mUfPk {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.img__yxFcA {
  object-fit: cover;
  max-width: 100%;
}
.img__yxFcA > picture > img {
  object-fit: cover;
}
.freeBox__bqEwK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  margin-top: 22px;
  min-width: 0;
  padding: 8px -81px 8px 8px;
}
.h3__y6M1J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__y6M1J {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__f7HYe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__f7HYe {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.text__prOrr {
  margin-left: 60px;
}
.text__jEnka {
  margin-left: 60px;
}
.text__x9B5E {
  margin-left: 60px;
}
.text__kr9Gx {
  margin-left: 60px;
}
.text__eDslC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__eDslC {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__i55De {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__oyKek {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__oyKek {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text___464D {
  padding-bottom: 0px;
}
.link {
  color: var(--token-zrH0XRQElDBe);
}
.tsfFooter:global(.__wab_instance) {
  max-width: 100%;
}
