@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-9DIOy9DmWvri_font-family: "Inter", sans-serif;
  --mixin-9DIOy9DmWvri_font-size: 16px;
  --mixin-9DIOy9DmWvri_font-weight: 400;
  --mixin-9DIOy9DmWvri_font-style: normal;
  --mixin-9DIOy9DmWvri_color: #535353;
  --mixin-9DIOy9DmWvri_text-align: left;
  --mixin-9DIOy9DmWvri_text-transform: none;
  --mixin-9DIOy9DmWvri_line-height: 1.5;
  --mixin-9DIOy9DmWvri_letter-spacing: normal;
  --mixin-9DIOy9DmWvri_white-space: pre-wrap;
  --mixin-9DIOy9DmWvri_user-select: text;
  --mixin-9DIOy9DmWvri_text-decoration-line: none;
  --mixin-9DIOy9DmWvri_text-overflow: clip;
  --mixin-wvdb9MND46Nj_color: #000000;
  --mixin-wvdb9MND46Nj_font-weight: 700;
  --mixin-wvdb9MND46Nj_font-size: 64px;
  --mixin-wvdb9MND46Nj_line-height: 1;
  --mixin-wvdb9MND46Nj_letter-spacing: -1px;
  --mixin-wvdb9MND46Nj_white-space: pre-wrap;
  --mixin-wEqBlwaQu0Ls_color: #000000;
  --mixin-wEqBlwaQu0Ls_font-size: 48px;
  --mixin-wEqBlwaQu0Ls_font-weight: 700;
  --mixin-wEqBlwaQu0Ls_letter-spacing: -0.5px;
  --mixin-wEqBlwaQu0Ls_line-height: 1.1;
  --mixin-wEqBlwaQu0Ls_white-space: pre-wrap;
  --mixin-OuPqLQw4C3Sj_color: #0070f3;
  --mixin-OuPqLQw4C3Sj_white-space: pre-wrap;
  --mixin-u7Tl2lUdfIJ7_color: #000000;
  --mixin-u7Tl2lUdfIJ7_font-size: 32px;
  --mixin-u7Tl2lUdfIJ7_font-weight: 600;
  --mixin-u7Tl2lUdfIJ7_line-height: 1.2;
  --mixin-u7Tl2lUdfIJ7_white-space: pre-wrap;
  --mixin--0qQfoqZuyQP_color: #000000;
  --mixin--0qQfoqZuyQP_font-size: 24px;
  --mixin--0qQfoqZuyQP_font-weight: 600;
  --mixin--0qQfoqZuyQP_line-height: 1.3;
  --mixin--0qQfoqZuyQP_white-space: pre-wrap;
  --mixin-Yl6_DHHqq2KK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Yl6_DHHqq2KK_border-bottom-color: #dddddd;
  --mixin-Yl6_DHHqq2KK_border-bottom-style: solid;
  --mixin-Yl6_DHHqq2KK_border-bottom-width: 1px;
  --mixin-Yl6_DHHqq2KK_border-left-color: #dddddd;
  --mixin-Yl6_DHHqq2KK_border-left-style: solid;
  --mixin-Yl6_DHHqq2KK_border-left-width: 1px;
  --mixin-Yl6_DHHqq2KK_border-right-color: #dddddd;
  --mixin-Yl6_DHHqq2KK_border-right-style: solid;
  --mixin-Yl6_DHHqq2KK_border-right-width: 1px;
  --mixin-Yl6_DHHqq2KK_border-top-color: #dddddd;
  --mixin-Yl6_DHHqq2KK_border-top-style: solid;
  --mixin-Yl6_DHHqq2KK_border-top-width: 1px;
  --mixin-Yl6_DHHqq2KK_border-bottom-left-radius: 3px;
  --mixin-Yl6_DHHqq2KK_border-bottom-right-radius: 3px;
  --mixin-Yl6_DHHqq2KK_border-top-left-radius: 3px;
  --mixin-Yl6_DHHqq2KK_border-top-right-radius: 3px;
  --mixin-Yl6_DHHqq2KK_font-family: "Inconsolata";
  --mixin-Yl6_DHHqq2KK_padding-bottom: 1px;
  --mixin-Yl6_DHHqq2KK_padding-left: 4px;
  --mixin-Yl6_DHHqq2KK_padding-right: 4px;
  --mixin-Yl6_DHHqq2KK_padding-top: 1px;
  --mixin-Yl6_DHHqq2KK_white-space: pre-wrap;
  --mixin-HxKs5gFn7fmM_border-left-color: #dddddd;
  --mixin-HxKs5gFn7fmM_border-left-style: solid;
  --mixin-HxKs5gFn7fmM_border-left-width: 3px;
  --mixin-HxKs5gFn7fmM_color: #888888;
  --mixin-HxKs5gFn7fmM_padding-left: 10px;
  --mixin-HxKs5gFn7fmM_white-space: pre-wrap;
  --mixin-AoXSLBX_FQkx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-AoXSLBX_FQkx_border-bottom-color: #dddddd;
  --mixin-AoXSLBX_FQkx_border-bottom-style: solid;
  --mixin-AoXSLBX_FQkx_border-bottom-width: 1px;
  --mixin-AoXSLBX_FQkx_border-left-color: #dddddd;
  --mixin-AoXSLBX_FQkx_border-left-style: solid;
  --mixin-AoXSLBX_FQkx_border-left-width: 1px;
  --mixin-AoXSLBX_FQkx_border-right-color: #dddddd;
  --mixin-AoXSLBX_FQkx_border-right-style: solid;
  --mixin-AoXSLBX_FQkx_border-right-width: 1px;
  --mixin-AoXSLBX_FQkx_border-top-color: #dddddd;
  --mixin-AoXSLBX_FQkx_border-top-style: solid;
  --mixin-AoXSLBX_FQkx_border-top-width: 1px;
  --mixin-AoXSLBX_FQkx_border-bottom-left-radius: 3px;
  --mixin-AoXSLBX_FQkx_border-bottom-right-radius: 3px;
  --mixin-AoXSLBX_FQkx_border-top-left-radius: 3px;
  --mixin-AoXSLBX_FQkx_border-top-right-radius: 3px;
  --mixin-AoXSLBX_FQkx_font-family: "Inconsolata";
  --mixin-AoXSLBX_FQkx_padding-bottom: 3px;
  --mixin-AoXSLBX_FQkx_padding-left: 6px;
  --mixin-AoXSLBX_FQkx_padding-right: 6px;
  --mixin-AoXSLBX_FQkx_padding-top: 3px;
  --mixin-AoXSLBX_FQkx_white-space: pre-wrap;
  --mixin-pDTLbcn5zmCP_display: flex;
  --mixin-pDTLbcn5zmCP_flex-direction: column;
  --mixin-pDTLbcn5zmCP_align-items: stretch;
  --mixin-pDTLbcn5zmCP_justify-content: flex-start;
  --mixin-pDTLbcn5zmCP_list-style-position: outside;
  --mixin-pDTLbcn5zmCP_padding-left: 40px;
  --mixin-pDTLbcn5zmCP_position: relative;
  --mixin-pDTLbcn5zmCP_list-style-type: disc;
  --mixin-pDTLbcn5zmCP_white-space: pre-wrap;
  --mixin-SEMQtJmb2ry1_display: flex;
  --mixin-SEMQtJmb2ry1_flex-direction: column;
  --mixin-SEMQtJmb2ry1_align-items: stretch;
  --mixin-SEMQtJmb2ry1_justify-content: flex-start;
  --mixin-SEMQtJmb2ry1_list-style-position: outside;
  --mixin-SEMQtJmb2ry1_padding-left: 40px;
  --mixin-SEMQtJmb2ry1_position: relative;
  --mixin-SEMQtJmb2ry1_list-style-type: decimal;
  --mixin-SEMQtJmb2ry1_white-space: pre-wrap;
  --mixin-YbVipgj_FWyl_color: #000000;
  --mixin-YbVipgj_FWyl_font-size: 20px;
  --mixin-YbVipgj_FWyl_font-weight: 600;
  --mixin-YbVipgj_FWyl_line-height: 1.5;
  --mixin-YbVipgj_FWyl_white-space: pre-wrap;
  --mixin-lbRuGBlKwiF-_color: #000000;
  --mixin-lbRuGBlKwiF-_font-size: 16px;
  --mixin-lbRuGBlKwiF-_font-weight: 600;
  --mixin-lbRuGBlKwiF-_line-height: 1.5;
  --mixin-lbRuGBlKwiF-_white-space: pre-wrap;
  --mixin-zLjf79VSjB8B_color: #3291ff;
  --mixin-zLjf79VSjB8B_white-space: pre-wrap;
  --mixin-JeF5bNYp5e6h_white-space: pre-wrap;
  --mixin-EH-c65FH03nY_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-9DIOy9DmWvri_font-family);
  font-size: var(--mixin-9DIOy9DmWvri_font-size);
  font-weight: var(--mixin-9DIOy9DmWvri_font-weight);
  font-style: var(--mixin-9DIOy9DmWvri_font-style);
  color: var(--mixin-9DIOy9DmWvri_color);
  text-align: var(--mixin-9DIOy9DmWvri_text-align);
  text-transform: var(--mixin-9DIOy9DmWvri_text-transform);
  line-height: var(--mixin-9DIOy9DmWvri_line-height);
  letter-spacing: var(--mixin-9DIOy9DmWvri_letter-spacing);
  white-space: var(--mixin-9DIOy9DmWvri_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-wvdb9MND46Nj_color);
  font-weight: var(--mixin-wvdb9MND46Nj_font-weight);
  font-size: var(--mixin-wvdb9MND46Nj_font-size);
  line-height: var(--mixin-wvdb9MND46Nj_line-height);
  letter-spacing: var(--mixin-wvdb9MND46Nj_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-wEqBlwaQu0Ls_color);
  font-size: var(--mixin-wEqBlwaQu0Ls_font-size);
  font-weight: var(--mixin-wEqBlwaQu0Ls_font-weight);
  letter-spacing: var(--mixin-wEqBlwaQu0Ls_letter-spacing);
  line-height: var(--mixin-wEqBlwaQu0Ls_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-OuPqLQw4C3Sj_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-u7Tl2lUdfIJ7_color);
  font-size: var(--mixin-u7Tl2lUdfIJ7_font-size);
  font-weight: var(--mixin-u7Tl2lUdfIJ7_font-weight);
  line-height: var(--mixin-u7Tl2lUdfIJ7_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin--0qQfoqZuyQP_color);
  font-size: var(--mixin--0qQfoqZuyQP_font-size);
  font-weight: var(--mixin--0qQfoqZuyQP_font-weight);
  line-height: var(--mixin--0qQfoqZuyQP_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Yl6_DHHqq2KK_font-family);
  border-radius: var(--mixin-Yl6_DHHqq2KK_border-top-left-radius)
    var(--mixin-Yl6_DHHqq2KK_border-top-right-radius)
    var(--mixin-Yl6_DHHqq2KK_border-bottom-right-radius)
    var(--mixin-Yl6_DHHqq2KK_border-bottom-left-radius);
  padding: var(--mixin-Yl6_DHHqq2KK_padding-top)
    var(--mixin-Yl6_DHHqq2KK_padding-right)
    var(--mixin-Yl6_DHHqq2KK_padding-bottom)
    var(--mixin-Yl6_DHHqq2KK_padding-left);
  border-top: var(--mixin-Yl6_DHHqq2KK_border-top-width)
    var(--mixin-Yl6_DHHqq2KK_border-top-style)
    var(--mixin-Yl6_DHHqq2KK_border-top-color);
  border-right: var(--mixin-Yl6_DHHqq2KK_border-right-width)
    var(--mixin-Yl6_DHHqq2KK_border-right-style)
    var(--mixin-Yl6_DHHqq2KK_border-right-color);
  border-bottom: var(--mixin-Yl6_DHHqq2KK_border-bottom-width)
    var(--mixin-Yl6_DHHqq2KK_border-bottom-style)
    var(--mixin-Yl6_DHHqq2KK_border-bottom-color);
  border-left: var(--mixin-Yl6_DHHqq2KK_border-left-width)
    var(--mixin-Yl6_DHHqq2KK_border-left-style)
    var(--mixin-Yl6_DHHqq2KK_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-HxKs5gFn7fmM_color);
  padding-left: var(--mixin-HxKs5gFn7fmM_padding-left);
  border-left: var(--mixin-HxKs5gFn7fmM_border-left-width)
    var(--mixin-HxKs5gFn7fmM_border-left-style)
    var(--mixin-HxKs5gFn7fmM_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-AoXSLBX_FQkx_font-family);
  border-radius: var(--mixin-AoXSLBX_FQkx_border-top-left-radius)
    var(--mixin-AoXSLBX_FQkx_border-top-right-radius)
    var(--mixin-AoXSLBX_FQkx_border-bottom-right-radius)
    var(--mixin-AoXSLBX_FQkx_border-bottom-left-radius);
  padding: var(--mixin-AoXSLBX_FQkx_padding-top)
    var(--mixin-AoXSLBX_FQkx_padding-right)
    var(--mixin-AoXSLBX_FQkx_padding-bottom)
    var(--mixin-AoXSLBX_FQkx_padding-left);
  border-top: var(--mixin-AoXSLBX_FQkx_border-top-width)
    var(--mixin-AoXSLBX_FQkx_border-top-style)
    var(--mixin-AoXSLBX_FQkx_border-top-color);
  border-right: var(--mixin-AoXSLBX_FQkx_border-right-width)
    var(--mixin-AoXSLBX_FQkx_border-right-style)
    var(--mixin-AoXSLBX_FQkx_border-right-color);
  border-bottom: var(--mixin-AoXSLBX_FQkx_border-bottom-width)
    var(--mixin-AoXSLBX_FQkx_border-bottom-style)
    var(--mixin-AoXSLBX_FQkx_border-bottom-color);
  border-left: var(--mixin-AoXSLBX_FQkx_border-left-width)
    var(--mixin-AoXSLBX_FQkx_border-left-style)
    var(--mixin-AoXSLBX_FQkx_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-pDTLbcn5zmCP_display);
  flex-direction: var(--mixin-pDTLbcn5zmCP_flex-direction);
  align-items: var(--mixin-pDTLbcn5zmCP_align-items);
  justify-content: var(--mixin-pDTLbcn5zmCP_justify-content);
  list-style-position: var(--mixin-pDTLbcn5zmCP_list-style-position);
  padding-left: var(--mixin-pDTLbcn5zmCP_padding-left);
  position: var(--mixin-pDTLbcn5zmCP_position);
  list-style-type: var(--mixin-pDTLbcn5zmCP_list-style-type);
  column-gap: var(--mixin-pDTLbcn5zmCP_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SEMQtJmb2ry1_display);
  flex-direction: var(--mixin-SEMQtJmb2ry1_flex-direction);
  align-items: var(--mixin-SEMQtJmb2ry1_align-items);
  justify-content: var(--mixin-SEMQtJmb2ry1_justify-content);
  list-style-position: var(--mixin-SEMQtJmb2ry1_list-style-position);
  padding-left: var(--mixin-SEMQtJmb2ry1_padding-left);
  position: var(--mixin-SEMQtJmb2ry1_position);
  list-style-type: var(--mixin-SEMQtJmb2ry1_list-style-type);
  column-gap: var(--mixin-SEMQtJmb2ry1_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-YbVipgj_FWyl_color);
  font-size: var(--mixin-YbVipgj_FWyl_font-size);
  font-weight: var(--mixin-YbVipgj_FWyl_font-weight);
  line-height: var(--mixin-YbVipgj_FWyl_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-lbRuGBlKwiF-_color);
  font-size: var(--mixin-lbRuGBlKwiF-_font-size);
  font-weight: var(--mixin-lbRuGBlKwiF-_font-weight);
  line-height: var(--mixin-lbRuGBlKwiF-_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-zLjf79VSjB8B_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
