.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-2CG_Q9JQkBPv);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__u89KI {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-2CG_Q9JQkBPv);
}
.radio__bXira:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio___5Cw2F:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__uEbeL:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
