.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-KnDPhbe3-mzb);
  position: relative;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ej5Ry {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__mED {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__nn7Rk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  --plsmc-rc-col-gap: 0px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__nn7Rk > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__nn7Rk > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__nn7Rk > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nn7Rk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nn7Rk > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__iyESl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__pyFe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__pyFe > picture > img {
  object-fit: cover;
}
.columns__hIxA {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 1.33em;
}
.columns__hIxA > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hIxA {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hIxA > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kXbL3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___4Plcj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ITnnuQ2rTA9I);
  font-size: var(--token-j065H2D6nlbY);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__h86Ya {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-c8ePuztBnleH);
  font-size: var(--token-qobrZNH3ND0T);
  padding-top: 14px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__h86Ya {
    font-size: 20px;
  }
}
.text__wf4C9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__hG7Ig:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__reU7Z {
  position: relative;
  height: 1em;
}
.text___4WgB {
  white-space: pre;
  padding-right: 0px;
}
.svg___2KvFt {
  position: relative;
  height: 1em;
}
.column__iwWdQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__bi1Of {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__bi1Of > picture > img {
  object-fit: cover;
}
.columns__h7Jh3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 1.33em;
}
.columns__h7Jh3 > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__h7Jh3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__h7Jh3 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cGAj4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text___5Yzzc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ITnnuQ2rTA9I);
  font-size: var(--token-j065H2D6nlbY);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4___1NTdB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-c8ePuztBnleH);
  font-size: var(--token-qobrZNH3ND0T);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___1NTdB {
    font-size: 20px;
  }
}
.text__xHqnf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
.button___4ZqW:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__lnUf4 {
  position: relative;
  height: 1em;
}
.text__isqvO {
  white-space: pre;
  padding-right: 0px;
}
.svg__pfbD4 {
  position: relative;
  height: 1em;
}
.column__utbYg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__w0CmM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__w0CmM > picture > img {
  object-fit: cover;
}
.columns__ypdtp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 1.33em;
}
.columns__ypdtp > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ypdtp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ypdtp > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__z90Ki {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__iMAeZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ITnnuQ2rTA9I);
  font-size: var(--token-j065H2D6nlbY);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__nlDkm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-c8ePuztBnleH);
  font-size: var(--token-qobrZNH3ND0T);
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__nlDkm {
    font-size: 20px;
  }
}
.text__rbIJh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button__isx7L:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__h9F5C {
  position: relative;
  height: 1em;
}
.text__gN1Ns {
  white-space: pre;
  padding-right: 0px;
}
.svg__oFYs {
  position: relative;
  height: 1em;
}
