.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-2fD8UdIqrOvE);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-K2IrGU60Nqf1);
  font-family: var(--token-S8JOgfpeXBkN);
  font-size: var(--token-9vXMSufqp0kw);
  line-height: var(--token-EfiCG696q2FH);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-6qIKLnFyCAKB);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-zkXtSfA4MdeU);
  outline-offset: 1px;
  outline-color: var(--token-2fD8UdIqrOvE);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-57PdTotgBP30);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token--cSE2FEgZ-gO);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-dyQa1cM5QwjK);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-B7IBnz-kaFPc);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-fJVDWeDC7Tgh);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-WUbusHM6KNAK);
  font-size: var(--token-MAIZoN7jVIjX);
  column-gap: var(--token-zkXtSfA4MdeU);
  row-gap: 0px;
  border-radius: var(--token-2CG_Q9JQkBPv);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-MAIZoN7jVIjX);
  line-height: var(--token-WUbusHM6KNAK);
  column-gap: var(--token-2CG_Q9JQkBPv);
  row-gap: 0px;
  border-radius: var(--token-2CG_Q9JQkBPv);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-hV5qjHCcPqHJ);
  line-height: var(--token-Yb1NbM72I2Qn);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-hV5qjHCcPqHJ);
  line-height: var(--token-Yb1NbM72I2Qn);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-tKeZoGVWoapr);
  border-radius: var(--token-6qIKLnFyCAKB);
}
.softBackgroundcolor_neutral {
  background: var(--token-9MFv0sohWRbo);
}
.softBackgroundcolor_muted {
  background: var(--token-ogabPRBu44vo);
}
.softBackgroundcolor_success {
  background: var(--token-8-7vzy3xgzoh);
}
.softBackgroundcolor_warning {
  background: var(--token-4ImFRbIgOefv);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-eRQ3WYXGA9mA);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-6qIKLnFyCAKB);
  border: 0px solid var(--token-kKtRuNXnUGC3);
}
.bordercolor_neutral {
  border-color: var(--token-o3y8feLHDIew);
}
.bordercolor_muted {
  border-color: var(--token-gkSow11oxb5T);
}
.bordercolor_success {
  border-color: var(--token-udc3JDII3_14);
}
.bordercolor_warning {
  border-color: var(--token-7HMOmB8yqMqV);
}
.bordercolor_errorDestructive {
  border-color: var(--token---OYCBvOHLjI);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-6qIKLnFyCAKB);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-RuhbIvLrx1KC);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-d3pl-ayeJOjn);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-WdhP3wQ-r0-w);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__iw8Nm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-6qIKLnFyCAKB);
  min-width: 0;
  min-height: 0;
  padding: var(--token-6qIKLnFyCAKB) var(--token-BZIJjjdgshou);
}
.freeBoxsize_extraSmall__iw8Nmovkul {
  padding: var(--token-2CG_Q9JQkBPv) var(--token-6qIKLnFyCAKB);
}
.freeBoxsize_small__iw8NmC2Ppx {
  padding: var(--token-6qIKLnFyCAKB) var(--token-K2IrGU60Nqf1);
}
.freeBoxsize_large__iw8NmV5VMm {
  padding-top: var(--token-2CG_Q9JQkBPv);
  padding-bottom: var(--token-2CG_Q9JQkBPv);
}
.freeBoxsize_extraLarge__iw8NmzlOny {
  padding-left: var(--token-qHgSN0bAAEKR);
  padding-right: var(--token-qHgSN0bAAEKR);
}
.freeBoxroundedFull__iw8NmIJlYe {
  padding-right: var(--token-qHgSN0bAAEKR);
  padding-left: var(--token-qHgSN0bAAEKR);
}
.freeBox__uIra1 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__uIra1EIhEj {
  display: flex;
}
.slotTargetStart {
  color: var(--token-ODlsD_XTvrDL);
}
.slotTargetStartcolor_neutral {
  color: var(--token-0Zb1rY9K4jZs);
}
.slotTargetStartcolor_muted {
  color: var(--token-bPagXy8gST1m);
}
.slotTargetStartcolor_success {
  color: var(--token-gdXqgw8XMfNY);
}
.slotTargetStartcolor_warning {
  color: var(--token-zNUYdRMjGT4a);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Dt5p7VJAKS8C);
}
.slotTargetStarttype_soft {
  color: var(--token-LNnH7-Au0L9a);
}
.slotTargetStarttype_bordered {
  color: var(--token-LNnH7-Au0L9a);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-MAIZoN7jVIjX);
}
.slotTargetStartsize_small {
  font-size: var(--token-MAIZoN7jVIjX);
}
.slotTargetStartsize_large {
  font-size: var(--token-hV5qjHCcPqHJ);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-hV5qjHCcPqHJ);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-RAFeRqS0wnHz);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-RAFeRqS0wnHz);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-yS31CLGx5uTS);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-yS31CLGx5uTS);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-tzSfxr2Om4B7);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-tzSfxr2Om4B7);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-w5r1EYLmlqrA);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-w5r1EYLmlqrA);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-jTHsWYiQANAj);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-jTHsWYiQANAj);
}
.svg__pVxZf {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-ODlsD_XTvrDL);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-0Zb1rY9K4jZs);
}
.slotTargetLabelcolor_muted {
  color: var(--token-bPagXy8gST1m);
}
.slotTargetLabelcolor_success {
  color: var(--token-gdXqgw8XMfNY);
}
.slotTargetLabelcolor_warning {
  color: var(--token-zNUYdRMjGT4a);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Dt5p7VJAKS8C);
}
.slotTargetLabeltype_soft {
  color: var(--token-LNnH7-Au0L9a);
}
.slotTargetLabeltype_bordered {
  color: var(--token-LNnH7-Au0L9a);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-RAFeRqS0wnHz);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-yS31CLGx5uTS);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-RAFeRqS0wnHz);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-tzSfxr2Om4B7);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-yS31CLGx5uTS);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-w5r1EYLmlqrA);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-tzSfxr2Om4B7);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-jTHsWYiQANAj);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-w5r1EYLmlqrA);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-jTHsWYiQANAj);
}
.text__cwPf8 {
  white-space: pre;
}
.freeBox__lcU1W {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__lcU1WgDiDl {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-ODlsD_XTvrDL);
}
.slotTargetEndcolor_neutral {
  color: var(--token-0Zb1rY9K4jZs);
}
.slotTargetEndcolor_muted {
  color: var(--token-bPagXy8gST1m);
}
.slotTargetEndcolor_success {
  color: var(--token-gdXqgw8XMfNY);
}
.slotTargetEndcolor_warning {
  color: var(--token-zNUYdRMjGT4a);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Dt5p7VJAKS8C);
}
.slotTargetEndtype_soft {
  color: var(--token-LNnH7-Au0L9a);
}
.slotTargetEndtype_bordered {
  color: var(--token-LNnH7-Au0L9a);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-MAIZoN7jVIjX);
}
.slotTargetEndsize_small {
  font-size: var(--token-MAIZoN7jVIjX);
}
.slotTargetEndsize_large {
  font-size: var(--token-hV5qjHCcPqHJ);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-hV5qjHCcPqHJ);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-RAFeRqS0wnHz);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-RAFeRqS0wnHz);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-yS31CLGx5uTS);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-yS31CLGx5uTS);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-tzSfxr2Om4B7);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-tzSfxr2Om4B7);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-w5r1EYLmlqrA);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-w5r1EYLmlqrA);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-jTHsWYiQANAj);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-jTHsWYiQANAj);
}
.svg__hYe5 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
