.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__x9Z68 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__oZGqH {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__oZGqH {
    width: 100%;
    min-width: 0;
    padding: 128px 32px;
  }
}
.freeBox__kfjOn {
  display: block;
  position: absolute;
  height: 500px;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
  background: var(--token-ITnnuQ2rTA9I);
  flex-shrink: 0;
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  max-width: 1080px;
  row-gap: 64px;
}
.freeBox__tVlTq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__eooZv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h1 {
  color: var(--token-KnDPhbe3-mzb);
}
.text___7Vbqx {
  height: auto;
  max-width: 699px;
  width: 100%;
  color: var(--token-KnDPhbe3-mzb);
  text-align: center;
  min-width: 0;
}
.freeBox___0Swpy {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___0Swpy {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__w0QS {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
}
.freeBox__tJeXn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  padding: 32px;
}
.text__eeoNv {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
}
.freeBox___1RAlj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.freeBox__mtd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__br5Xj {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__rBPb {
  width: auto;
}
.text__ajQx9 {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
  font-family: "Montserrat", sans-serif;
}
.freeBox__iOpjm {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___8H8ZF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  row-gap: 32px;
  padding: 32px;
}
.freeBox___0Mp0I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__ztOg9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox___0KfX5 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__zgbl {
  object-fit: cover;
  color: var(--token-0ybibllDDCpj);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__rxwza {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__bwPda {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__uIkyf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text___05ArN {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__xbVy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__bKMH {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___3FxWn {
  object-fit: cover;
  color: var(--token-0ybibllDDCpj);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__vjUmP {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg___7O6Gc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__hqKLr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__ebrMn {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__bUmZ0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.button__jPfk:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__xSPiJ {
  position: relative;
  height: 1em;
}
.text__mCmZa {
  white-space: pre;
  padding-bottom: 0px;
}
.svg__igPel {
  position: relative;
  height: 1em;
}
.freeBox__xB60 {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  border: 4px solid var(--token-ITnnuQ2rTA9I);
}
.freeBox__c5GaA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--token-xEi0MZvxsU8k);
  row-gap: 16px;
  padding: 32px;
}
.text___6Fahk {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  color: var(--token-ITnnuQ2rTA9I);
}
.freeBox__wGoov {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.freeBox__pv7Zj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__z40 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__vs24 {
  width: auto;
}
.text__hSoNk {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.freeBox__ito {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  align-self: flex-end;
  row-gap: 32px;
  padding: 32px;
}
.freeBox__dDduk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__bo1Rz {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__kIim5 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__uj1QG {
  object-fit: cover;
  color: var(--token-0ybibllDDCpj);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___75XY {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__xkyQk {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__vxmiO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__h6Yke {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__lmdQz {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__qIe9 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__eR74U {
  object-fit: cover;
  color: var(--token-0ybibllDDCpj);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__ncJfc {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__r9Ukc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__dz7Wr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__yrR8K {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.text__wOsjJ {
  height: auto;
}
.freeBox__xi5Jm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__x9YAx {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__bhVtr {
  object-fit: cover;
  color: var(--token-0ybibllDDCpj);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__s65UX {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__ekqv {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lbhgf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text___2EMVi {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__frxPb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__hHtDp {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__aLyFc {
  object-fit: cover;
  color: var(--token-0ybibllDDCpj);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__evtVa {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__ru2Iw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__hrC6D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__pAsrJ {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.text__yw4Gt {
  height: auto;
}
.freeBox__p7QEh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.button___2GvsA:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__j2VvT {
  position: relative;
  height: 1em;
}
.text__mwU1L {
  white-space: pre;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.svg__x4I14 {
  position: relative;
  height: 1em;
}
.freeBox__oFyuU {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__zcIL {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
}
.freeBox__mZnV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  padding: 32px;
}
.text__aWnM {
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
}
.freeBox__vnkk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.freeBox__rX4WB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ab8L8 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__zok22 {
  width: auto;
}
.text__eilr0 {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.freeBox__qLv2O {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__wnk6Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  row-gap: 32px;
  padding: 32px;
}
.freeBox__lTeMi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__wHkwu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__bZibl {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___05P8 {
  object-fit: cover;
  color: var(--token-0ybibllDDCpj);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__wW0JT {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg___0Y4W1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__nFw57 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__oyrQ {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__o6OAk {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox___2Weds {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__yg3Db {
  object-fit: cover;
  color: var(--token-0ybibllDDCpj);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___79Mg7 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__mve2O {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__pQg3X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__l2GDu {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__wjF2I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.button__yctXc:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__dlsUn {
  position: relative;
  height: 1em;
}
.text__yOx9 {
  white-space: pre;
  padding-bottom: 0px;
}
.svg___0HZ3 {
  position: relative;
  height: 1em;
}
.faQs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-0_KRCuW5jIYJ);
  min-width: 0;
  padding: 4.17em 15px 3.33em;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .faQs {
    padding: 3em 15px 1.5em;
  }
}
.container5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 750px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.h2__zco1Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__zco1Q {
    font-size: 24px;
  }
}
.text__tF8AP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 677px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__tF8AP {
    font-size: 1em;
    margin: 0px 0px 0em;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1380px;
  column-gap: 30px;
  min-width: 0;
  --plsmc-rc-col-gap: 30px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 30px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___57Xd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__vrJo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__vrJo {
    font-size: 18px;
    padding: 15px;
  }
}
.text__ebpp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ebpp {
    padding: 15px;
  }
}
.column___2Lkm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__tyP3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__tyP3 {
    font-size: 18px;
    padding: 15px;
  }
}
.text___9UD9B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___9UD9B {
    padding: 15px;
  }
}
.column__tfDvv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__dfqH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__dfqH {
    font-size: 18px;
    padding: 15px;
  }
}
.text__oHKso {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__oHKso {
    padding: 15px;
  }
}
.column__mkvZm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__clNrL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__clNrL {
    font-size: 18px;
    padding: 15px;
  }
}
.text___0TtBd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___0TtBd {
    padding: 15px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
