@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-w1wM14nEuxq0: 0.83rem;
  --plasmic-token-unnamed-style-token: var(--token-w1wM14nEuxq0);
  --token-KnDPhbe3-mzb: #ffffff;
  --plasmic-token-white: var(--token-KnDPhbe3-mzb);
  --token-c8ePuztBnleH: #000000;
  --plasmic-token-black: var(--token-c8ePuztBnleH);
  --token-UfVR25i-txiR: #535353;
  --plasmic-token-primary-color: var(--token-UfVR25i-txiR);
  --token-sJo-xlpOtz-Y: 48px;
  --plasmic-token-lead-title: var(--token-sJo-xlpOtz-Y);
  --token-j065H2D6nlbY: 16px;
  --plasmic-token-primary-text: var(--token-j065H2D6nlbY);
  --token-dlXC2BhILAE1: Inter;
  --plasmic-token-primary-font: var(--token-dlXC2BhILAE1);
  --token-qobrZNH3ND0T: 24px;
  --plasmic-token-small-title: var(--token-qobrZNH3ND0T);
  --token-tgILe3eAsh_9: 30px;
  --plasmic-token-lead-title-sm: var(--token-tgILe3eAsh_9);
  --token-rq7Jp255EGbN: 20px;
  --plasmic-token-small-title-sm: var(--token-rq7Jp255EGbN);
  --token-ITnnuQ2rTA9I: #0091ff;
  --plasmic-token-clr: var(--token-ITnnuQ2rTA9I);
  --token-0ybibllDDCpj: var(--token-ITnnuQ2rTA9I);
  --plasmic-token-unnamed-style-token-2: var(--token-0ybibllDDCpj);
  --token-0st2Cp2TvXdk: var(--token-WY8TvPfT51Z1);
  --plasmic-token-unnamed-style-token-3: var(--token-0st2Cp2TvXdk);
  --token-WY8TvPfT51Z1: var(--token-0_KRCuW5jIYJ);
  --plasmic-token-unnamed-style-token-4: var(--token-WY8TvPfT51Z1);
  --token-0_KRCuW5jIYJ: #3429291a;
  --plasmic-token-unnamed-style-token-5: var(--token-0_KRCuW5jIYJ);
  --token-xEi0MZvxsU8k: #f8f8f8;
  --plasmic-token-unnamed-style-token-6: var(--token-xEi0MZvxsU8k);
  --token-St-87yyTtTqP: 16px;
  --plasmic-token-unnamed-style-token-7: var(--token-St-87yyTtTqP);
  --token-VcuOD1foS4vj: var(--token-xEi0MZvxsU8k);
  --plasmic-token-unnamed-style-token-8: var(--token-VcuOD1foS4vj);
  --token-k65yVdjmN57K: #f4efeb;
  --plasmic-token-unnamed-style-token-9: var(--token-k65yVdjmN57K);
  --token-2fD8UdIqrOvE: #2563eb;
  --plasmic-token-brand-brand: var(--token-2fD8UdIqrOvE);
  --token-K2IrGU60Nqf1: 0.5rem;
  --plasmic-token-size-8: var(--token-K2IrGU60Nqf1);
  --token-S8JOgfpeXBkN: Inter;
  --plasmic-token-sans-serif: var(--token-S8JOgfpeXBkN);
  --token-9vXMSufqp0kw: 1rem;
  --plasmic-token-font-md: var(--token-9vXMSufqp0kw);
  --token-EfiCG696q2FH: 1.25;
  --plasmic-token-line-height-md: var(--token-EfiCG696q2FH);
  --token-6qIKLnFyCAKB: 0.375rem;
  --plasmic-token-size-6: var(--token-6qIKLnFyCAKB);
  --token-57PdTotgBP30: #374151;
  --plasmic-token-neutral-neutral: var(--token-57PdTotgBP30);
  --token-fJVDWeDC7Tgh: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-fJVDWeDC7Tgh);
  --token--cSE2FEgZ-gO: #6b7280;
  --plasmic-token-muted-muted: var(--token--cSE2FEgZ-gO);
  --token-2CG_Q9JQkBPv: 0.25rem;
  --plasmic-token-size-4: var(--token-2CG_Q9JQkBPv);
  --token-MAIZoN7jVIjX: 0.75rem;
  --plasmic-token-font-sm: var(--token-MAIZoN7jVIjX);
  --token-WUbusHM6KNAK: 1;
  --plasmic-token-line-height-sm: var(--token-WUbusHM6KNAK);
  --token-hV5qjHCcPqHJ: 1.25rem;
  --plasmic-token-font-lg: var(--token-hV5qjHCcPqHJ);
  --token-Yb1NbM72I2Qn: 1.4;
  --plasmic-token-line-height-lg: var(--token-Yb1NbM72I2Qn);
  --token-zkXtSfA4MdeU: 0.125rem;
  --plasmic-token-size-2: var(--token-zkXtSfA4MdeU);
  --token-dyQa1cM5QwjK: #16a34a;
  --plasmic-token-success-success: var(--token-dyQa1cM5QwjK);
  --token-B7IBnz-kaFPc: #facc15;
  --plasmic-token-warning-warning: var(--token-B7IBnz-kaFPc);
  --token-tKeZoGVWoapr: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-tKeZoGVWoapr);
  --token-9MFv0sohWRbo: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-9MFv0sohWRbo);
  --token-ogabPRBu44vo: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-ogabPRBu44vo);
  --token-8-7vzy3xgzoh: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-8-7vzy3xgzoh);
  --token-4ImFRbIgOefv: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-4ImFRbIgOefv);
  --token-eRQ3WYXGA9mA: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-eRQ3WYXGA9mA);
  --token-kKtRuNXnUGC3: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-kKtRuNXnUGC3);
  --token-o3y8feLHDIew: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-o3y8feLHDIew);
  --token-gkSow11oxb5T: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-gkSow11oxb5T);
  --token-udc3JDII3_14: #86efac;
  --plasmic-token-success-success-border: var(--token-udc3JDII3_14);
  --token-7HMOmB8yqMqV: #fde047;
  --plasmic-token-warning-warning-border: var(--token-7HMOmB8yqMqV);
  --token---OYCBvOHLjI: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token---OYCBvOHLjI);
  --token-RuhbIvLrx1KC: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-RuhbIvLrx1KC);
  --token-d3pl-ayeJOjn: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-d3pl-ayeJOjn);
  --token-WdhP3wQ-r0-w: #00000033;
  --plasmic-token-interaction-pressed: var(--token-WdhP3wQ-r0-w);
  --token-BZIJjjdgshou: 0.625rem;
  --plasmic-token-size-10: var(--token-BZIJjjdgshou);
  --token-qHgSN0bAAEKR: 0.75rem;
  --plasmic-token-size-12: var(--token-qHgSN0bAAEKR);
  --token-ODlsD_XTvrDL: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-ODlsD_XTvrDL);
  --token-0Zb1rY9K4jZs: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-0Zb1rY9K4jZs);
  --token-bPagXy8gST1m: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-bPagXy8gST1m);
  --token-LNnH7-Au0L9a: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-LNnH7-Au0L9a);
  --token-zNUYdRMjGT4a: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-zNUYdRMjGT4a);
  --token-gdXqgw8XMfNY: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-gdXqgw8XMfNY);
  --token-Dt5p7VJAKS8C: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-Dt5p7VJAKS8C);
  --token-RAFeRqS0wnHz: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-RAFeRqS0wnHz);
  --token-yS31CLGx5uTS: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-yS31CLGx5uTS);
  --token-tzSfxr2Om4B7: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-tzSfxr2Om4B7);
  --token-w5r1EYLmlqrA: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-w5r1EYLmlqrA);
  --token-jTHsWYiQANAj: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-jTHsWYiQANAj
  );
  --token-o_zFdGynpdlb: #030712;
  --plasmic-token-basic-text-primary: var(--token-o_zFdGynpdlb);
  --token-BcAqlg6278sd: 1.25rem;
  --plasmic-token-size-20: var(--token-BcAqlg6278sd);
  --token-f9GOi0_qmuXH: #9ca3af;
  --plasmic-token-basic-ring: var(--token-f9GOi0_qmuXH);
  --token-WIkAidVJq6Mo: 2rem;
  --plasmic-token-size-32: var(--token-WIkAidVJq6Mo);
  --token-GHtcIJ1uEtNW: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-GHtcIJ1uEtNW);
  --token-GnwpgrcpJE8Y: #d1d5db;
  --plasmic-token-basic-border: var(--token-GnwpgrcpJE8Y);
  --token-UeLJHzAH7ywi: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-UeLJHzAH7ywi);
  --token-2L1_o4JMbT-P: 1rem;
  --plasmic-token-size-16: var(--token-2L1_o4JMbT-P);
  --token-559-Sfg5QY95: #ffffff;
  --plasmic-token-basic-container-background: var(--token-559-Sfg5QY95);
  --token-3CV_vYXC5Tfr: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-3CV_vYXC5Tfr);
  --token-bjgcHpD0tUod: 1.5rem;
  --plasmic-token-size-24: var(--token-bjgcHpD0tUod);
  --token-uWK0tdBfJvTy: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-uWK0tdBfJvTy);
  --token-Fhe2FPJh-kgG: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-Fhe2FPJh-kgG);
  --token-RY61_P1n2_lE: #f49425;
  --plasmic-token-tsf-mid: var(--token-RY61_P1n2_lE);
  --token-uA4cGu2jVLb7: #820a02;
  --plasmic-token-tsf-orange: var(--token-uA4cGu2jVLb7);
  --token-ln6BikL9OX2f: #fcb02c;
  --plasmic-token-tsf-gold: var(--token-ln6BikL9OX2f);
  --token-4gJnguW2Fn8h: 18px;
  --plasmic-token-18-px-type: var(--token-4gJnguW2Fn8h);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-_koKW6FJ-TcR_font-family: "Inter", sans-serif;
  --mixin-_koKW6FJ-TcR_font-size: 16px;
  --mixin-_koKW6FJ-TcR_font-weight: 400;
  --mixin-_koKW6FJ-TcR_font-style: normal;
  --mixin-_koKW6FJ-TcR_color: #535353;
  --mixin-_koKW6FJ-TcR_text-align: left;
  --mixin-_koKW6FJ-TcR_text-transform: none;
  --mixin-_koKW6FJ-TcR_line-height: 1.5;
  --mixin-_koKW6FJ-TcR_letter-spacing: normal;
  --mixin-_koKW6FJ-TcR_white-space: pre-wrap;
  --mixin-_koKW6FJ-TcR_user-select: text;
  --mixin-_koKW6FJ-TcR_text-decoration-line: none;
  --mixin-_koKW6FJ-TcR_text-overflow: clip;
  --mixin-ozjuZ_Do9nil_color: var(--token-KnDPhbe3-mzb);
  --mixin-ozjuZ_Do9nil_font-weight: 700;
  --mixin-ozjuZ_Do9nil_font-size: 50px;
  --mixin-ozjuZ_Do9nil_line-height: 1;
  --mixin-ozjuZ_Do9nil_letter-spacing: -1px;
  --mixin-ozjuZ_Do9nil_font-family: "Inter", sans-serif;
  --mixin-ozjuZ_Do9nil_white-space: pre-wrap;
  --mixin-CEJ_YcurN6V0_color: #000000;
  --mixin-CEJ_YcurN6V0_font-weight: 700;
  --mixin-CEJ_YcurN6V0_font-size: 36px;
  --mixin-CEJ_YcurN6V0_line-height: 1.1;
  --mixin-CEJ_YcurN6V0_letter-spacing: -1px;
  --mixin-CEJ_YcurN6V0_font-family: "Inter", sans-serif;
  --mixin-CEJ_YcurN6V0_white-space: pre-wrap;
  --mixin-M-9GNmh4-s7q_color: #3291ff;
  --mixin-M-9GNmh4-s7q_white-space: pre-wrap;
  --mixin-jAhUFZ0bPnLk_color: #000000;
  --mixin-jAhUFZ0bPnLk_font-weight: 600;
  --mixin-jAhUFZ0bPnLk_font-size: 28px;
  --mixin-jAhUFZ0bPnLk_line-height: 1.2;
  --mixin-jAhUFZ0bPnLk_letter-spacing: -0.8px;
  --mixin-jAhUFZ0bPnLk_font-family: "Inter", sans-serif;
  --mixin-jAhUFZ0bPnLk_white-space: pre-wrap;
  --mixin-2G2s5VHQLCY9_color: #000000;
  --mixin-2G2s5VHQLCY9_font-weight: 600;
  --mixin-2G2s5VHQLCY9_font-size: 24px;
  --mixin-2G2s5VHQLCY9_line-height: 1.3;
  --mixin-2G2s5VHQLCY9_letter-spacing: -0.5px;
  --mixin-2G2s5VHQLCY9_white-space: pre-wrap;
  --mixin-7h_Bsc3R3C4K_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7h_Bsc3R3C4K_border-bottom-color: #dddddd;
  --mixin-7h_Bsc3R3C4K_border-bottom-style: solid;
  --mixin-7h_Bsc3R3C4K_border-bottom-width: 1px;
  --mixin-7h_Bsc3R3C4K_border-left-color: #dddddd;
  --mixin-7h_Bsc3R3C4K_border-left-style: solid;
  --mixin-7h_Bsc3R3C4K_border-left-width: 1px;
  --mixin-7h_Bsc3R3C4K_border-right-color: #dddddd;
  --mixin-7h_Bsc3R3C4K_border-right-style: solid;
  --mixin-7h_Bsc3R3C4K_border-right-width: 1px;
  --mixin-7h_Bsc3R3C4K_border-top-color: #dddddd;
  --mixin-7h_Bsc3R3C4K_border-top-style: solid;
  --mixin-7h_Bsc3R3C4K_border-top-width: 1px;
  --mixin-7h_Bsc3R3C4K_border-bottom-left-radius: 3px;
  --mixin-7h_Bsc3R3C4K_border-bottom-right-radius: 3px;
  --mixin-7h_Bsc3R3C4K_border-top-left-radius: 3px;
  --mixin-7h_Bsc3R3C4K_border-top-right-radius: 3px;
  --mixin-7h_Bsc3R3C4K_font-family: "Inconsolata";
  --mixin-7h_Bsc3R3C4K_padding-bottom: 1px;
  --mixin-7h_Bsc3R3C4K_padding-left: 4px;
  --mixin-7h_Bsc3R3C4K_padding-right: 4px;
  --mixin-7h_Bsc3R3C4K_padding-top: 1px;
  --mixin-7h_Bsc3R3C4K_white-space: pre-wrap;
  --mixin-XuMI5rUI0jea_border-left-color: #dddddd;
  --mixin-XuMI5rUI0jea_border-left-style: solid;
  --mixin-XuMI5rUI0jea_border-left-width: 3px;
  --mixin-XuMI5rUI0jea_color: #888888;
  --mixin-XuMI5rUI0jea_padding-left: 10px;
  --mixin-XuMI5rUI0jea_white-space: pre-wrap;
  --mixin-XJlvSL2EZXzR_font-family: "Inter", sans-serif;
  --mixin-XJlvSL2EZXzR_color: #000000;
  --mixin-XJlvSL2EZXzR_font-size: 16px;
  --mixin-XJlvSL2EZXzR_font-weight: 600;
  --mixin-XJlvSL2EZXzR_line-height: 1.5;
  --mixin-XJlvSL2EZXzR_white-space: pre-wrap;
  --mixin-BVfjZK0MwQwn_font-family: "Inter", sans-serif;
  --mixin-BVfjZK0MwQwn_font-size: 20px;
  --mixin-BVfjZK0MwQwn_font-weight: 500;
  --mixin-BVfjZK0MwQwn_color: var(--token-c8ePuztBnleH);
  --mixin-BVfjZK0MwQwn_white-space: pre-wrap;
  --mixin-tuExv2tbiNcs_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-tuExv2tbiNcs_border-bottom-color: #dddddd;
  --mixin-tuExv2tbiNcs_border-bottom-style: solid;
  --mixin-tuExv2tbiNcs_border-bottom-width: 1px;
  --mixin-tuExv2tbiNcs_border-left-color: #dddddd;
  --mixin-tuExv2tbiNcs_border-left-style: solid;
  --mixin-tuExv2tbiNcs_border-left-width: 1px;
  --mixin-tuExv2tbiNcs_border-right-color: #dddddd;
  --mixin-tuExv2tbiNcs_border-right-style: solid;
  --mixin-tuExv2tbiNcs_border-right-width: 1px;
  --mixin-tuExv2tbiNcs_border-top-color: #dddddd;
  --mixin-tuExv2tbiNcs_border-top-style: solid;
  --mixin-tuExv2tbiNcs_border-top-width: 1px;
  --mixin-tuExv2tbiNcs_border-bottom-left-radius: 3px;
  --mixin-tuExv2tbiNcs_border-bottom-right-radius: 3px;
  --mixin-tuExv2tbiNcs_border-top-left-radius: 3px;
  --mixin-tuExv2tbiNcs_border-top-right-radius: 3px;
  --mixin-tuExv2tbiNcs_font-family: "Inconsolata";
  --mixin-tuExv2tbiNcs_padding-bottom: 3px;
  --mixin-tuExv2tbiNcs_padding-left: 6px;
  --mixin-tuExv2tbiNcs_padding-right: 6px;
  --mixin-tuExv2tbiNcs_padding-top: 3px;
  --mixin-tuExv2tbiNcs_white-space: pre-wrap;
  --mixin-kPVN0VV1bETL_display: flex;
  --mixin-kPVN0VV1bETL_flex-direction: column;
  --mixin-kPVN0VV1bETL_align-items: stretch;
  --mixin-kPVN0VV1bETL_justify-content: flex-start;
  --mixin-kPVN0VV1bETL_list-style-position: outside;
  --mixin-kPVN0VV1bETL_padding-left: 40px;
  --mixin-kPVN0VV1bETL_position: relative;
  --mixin-kPVN0VV1bETL_list-style-type: decimal;
  --mixin-kPVN0VV1bETL_white-space: pre-wrap;
  --mixin-zPoAUUCUhn7K_display: flex;
  --mixin-zPoAUUCUhn7K_flex-direction: column;
  --mixin-zPoAUUCUhn7K_align-items: stretch;
  --mixin-zPoAUUCUhn7K_justify-content: flex-start;
  --mixin-zPoAUUCUhn7K_list-style-position: outside;
  --mixin-zPoAUUCUhn7K_padding-left: 40px;
  --mixin-zPoAUUCUhn7K_position: relative;
  --mixin-zPoAUUCUhn7K_list-style-type: disc;
  --mixin-zPoAUUCUhn7K_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-H1Q3qsM-foqu_white-space: pre-wrap;
  --plasmic-mixin-menu-text_white-space: var(--mixin-H1Q3qsM-foqu_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-_koKW6FJ-TcR_font-family);
  font-size: var(--mixin-_koKW6FJ-TcR_font-size);
  font-weight: var(--mixin-_koKW6FJ-TcR_font-weight);
  font-style: var(--mixin-_koKW6FJ-TcR_font-style);
  color: var(--mixin-_koKW6FJ-TcR_color);
  text-align: var(--mixin-_koKW6FJ-TcR_text-align);
  text-transform: var(--mixin-_koKW6FJ-TcR_text-transform);
  line-height: var(--mixin-_koKW6FJ-TcR_line-height);
  letter-spacing: var(--mixin-_koKW6FJ-TcR_letter-spacing);
  white-space: var(--mixin-_koKW6FJ-TcR_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-ozjuZ_Do9nil_color);
  font-weight: var(--mixin-ozjuZ_Do9nil_font-weight);
  font-size: var(--mixin-ozjuZ_Do9nil_font-size);
  line-height: var(--mixin-ozjuZ_Do9nil_line-height);
  letter-spacing: var(--mixin-ozjuZ_Do9nil_letter-spacing);
  font-family: var(--mixin-ozjuZ_Do9nil_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-CEJ_YcurN6V0_color);
  font-weight: var(--mixin-CEJ_YcurN6V0_font-weight);
  font-size: var(--mixin-CEJ_YcurN6V0_font-size);
  line-height: var(--mixin-CEJ_YcurN6V0_line-height);
  letter-spacing: var(--mixin-CEJ_YcurN6V0_letter-spacing);
  font-family: var(--mixin-CEJ_YcurN6V0_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-M-9GNmh4-s7q_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-jAhUFZ0bPnLk_color);
  font-weight: var(--mixin-jAhUFZ0bPnLk_font-weight);
  font-size: var(--mixin-jAhUFZ0bPnLk_font-size);
  line-height: var(--mixin-jAhUFZ0bPnLk_line-height);
  letter-spacing: var(--mixin-jAhUFZ0bPnLk_letter-spacing);
  font-family: var(--mixin-jAhUFZ0bPnLk_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-2G2s5VHQLCY9_color);
  font-weight: var(--mixin-2G2s5VHQLCY9_font-weight);
  font-size: var(--mixin-2G2s5VHQLCY9_font-size);
  line-height: var(--mixin-2G2s5VHQLCY9_line-height);
  letter-spacing: var(--mixin-2G2s5VHQLCY9_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7h_Bsc3R3C4K_font-family);
  border-radius: var(--mixin-7h_Bsc3R3C4K_border-top-left-radius)
    var(--mixin-7h_Bsc3R3C4K_border-top-right-radius)
    var(--mixin-7h_Bsc3R3C4K_border-bottom-right-radius)
    var(--mixin-7h_Bsc3R3C4K_border-bottom-left-radius);
  padding: var(--mixin-7h_Bsc3R3C4K_padding-top)
    var(--mixin-7h_Bsc3R3C4K_padding-right)
    var(--mixin-7h_Bsc3R3C4K_padding-bottom)
    var(--mixin-7h_Bsc3R3C4K_padding-left);
  border-top: var(--mixin-7h_Bsc3R3C4K_border-top-width)
    var(--mixin-7h_Bsc3R3C4K_border-top-style)
    var(--mixin-7h_Bsc3R3C4K_border-top-color);
  border-right: var(--mixin-7h_Bsc3R3C4K_border-right-width)
    var(--mixin-7h_Bsc3R3C4K_border-right-style)
    var(--mixin-7h_Bsc3R3C4K_border-right-color);
  border-bottom: var(--mixin-7h_Bsc3R3C4K_border-bottom-width)
    var(--mixin-7h_Bsc3R3C4K_border-bottom-style)
    var(--mixin-7h_Bsc3R3C4K_border-bottom-color);
  border-left: var(--mixin-7h_Bsc3R3C4K_border-left-width)
    var(--mixin-7h_Bsc3R3C4K_border-left-style)
    var(--mixin-7h_Bsc3R3C4K_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-XuMI5rUI0jea_color);
  padding-left: var(--mixin-XuMI5rUI0jea_padding-left);
  border-left: var(--mixin-XuMI5rUI0jea_border-left-width)
    var(--mixin-XuMI5rUI0jea_border-left-style)
    var(--mixin-XuMI5rUI0jea_border-left-color);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-XJlvSL2EZXzR_font-family);
  color: var(--mixin-XJlvSL2EZXzR_color);
  font-size: var(--mixin-XJlvSL2EZXzR_font-size);
  font-weight: var(--mixin-XJlvSL2EZXzR_font-weight);
  line-height: var(--mixin-XJlvSL2EZXzR_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-BVfjZK0MwQwn_font-family);
  font-size: var(--mixin-BVfjZK0MwQwn_font-size);
  font-weight: var(--mixin-BVfjZK0MwQwn_font-weight);
  color: var(--mixin-BVfjZK0MwQwn_color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-tuExv2tbiNcs_font-family);
  border-radius: var(--mixin-tuExv2tbiNcs_border-top-left-radius)
    var(--mixin-tuExv2tbiNcs_border-top-right-radius)
    var(--mixin-tuExv2tbiNcs_border-bottom-right-radius)
    var(--mixin-tuExv2tbiNcs_border-bottom-left-radius);
  padding: var(--mixin-tuExv2tbiNcs_padding-top)
    var(--mixin-tuExv2tbiNcs_padding-right)
    var(--mixin-tuExv2tbiNcs_padding-bottom)
    var(--mixin-tuExv2tbiNcs_padding-left);
  border-top: var(--mixin-tuExv2tbiNcs_border-top-width)
    var(--mixin-tuExv2tbiNcs_border-top-style)
    var(--mixin-tuExv2tbiNcs_border-top-color);
  border-right: var(--mixin-tuExv2tbiNcs_border-right-width)
    var(--mixin-tuExv2tbiNcs_border-right-style)
    var(--mixin-tuExv2tbiNcs_border-right-color);
  border-bottom: var(--mixin-tuExv2tbiNcs_border-bottom-width)
    var(--mixin-tuExv2tbiNcs_border-bottom-style)
    var(--mixin-tuExv2tbiNcs_border-bottom-color);
  border-left: var(--mixin-tuExv2tbiNcs_border-left-width)
    var(--mixin-tuExv2tbiNcs_border-left-style)
    var(--mixin-tuExv2tbiNcs_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-kPVN0VV1bETL_display);
  flex-direction: var(--mixin-kPVN0VV1bETL_flex-direction);
  align-items: var(--mixin-kPVN0VV1bETL_align-items);
  justify-content: var(--mixin-kPVN0VV1bETL_justify-content);
  list-style-position: var(--mixin-kPVN0VV1bETL_list-style-position);
  padding-left: var(--mixin-kPVN0VV1bETL_padding-left);
  position: var(--mixin-kPVN0VV1bETL_position);
  list-style-type: var(--mixin-kPVN0VV1bETL_list-style-type);
  column-gap: var(--mixin-kPVN0VV1bETL_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-zPoAUUCUhn7K_display);
  flex-direction: var(--mixin-zPoAUUCUhn7K_flex-direction);
  align-items: var(--mixin-zPoAUUCUhn7K_align-items);
  justify-content: var(--mixin-zPoAUUCUhn7K_justify-content);
  list-style-position: var(--mixin-zPoAUUCUhn7K_list-style-position);
  padding-left: var(--mixin-zPoAUUCUhn7K_padding-left);
  position: var(--mixin-zPoAUUCUhn7K_position);
  list-style-type: var(--mixin-zPoAUUCUhn7K_list-style-type);
  column-gap: var(--mixin-zPoAUUCUhn7K_column-gap);
}
