.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.mainSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection {
    padding: 3em 15px 1.5em;
  }
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-uA4cGu2jVLb7);
  min-width: 0;
  padding: 0px;
}
.freeBox__ovluP {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 64px 32px 58px 7px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ovluP {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: none;
    max-width: 1380px;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 12px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    column-gap: 0px;
    row-gap: 12px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uk0Hw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h1__sInKi {
  width: 657px;
  height: auto;
  max-width: 100%;
  line-height: var(--token-EfiCG696q2FH);
  margin-right: 0px;
  padding-right: 32px;
}
.h1___3RwRi {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  line-height: var(--token-EfiCG696q2FH);
  padding-top: 31px;
  min-width: 0;
}
.column__clcgz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___28G87 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___28G87 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___28G87 {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___28G87 > picture > img {
    object-fit: cover;
  }
}
.mainSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #f7f9fb;
    column-gap: 0px;
    min-width: 0;
    padding: 3em 15px 1.5em;
    margin: 0px;
  }
}
.container3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: #ffffff;
  padding: 30px;
}
.freeBox__e4PA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h1___0Jx4M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  line-height: var(--token-EfiCG696q2FH);
  color: var(--token-uA4cGu2jVLb7);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1___0Jx4M {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text___7X8Yy {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___7X8Yy {
    position: relative;
    width: 100%;
    height: auto;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__x9ADl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__nDgUz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__nDgUz {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__nj39 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__nj39 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__eKrf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3___6N0Hs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3___6N0Hs {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__i88Ea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__i88Ea {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__sfLoY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h2___1Syj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  color: var(--token-uA4cGu2jVLb7);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___1Syj {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__varUh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__varUh {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__xwVxm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.img__wv83 {
  object-fit: cover;
  max-width: 100%;
}
.img__wv83 > picture > img {
  object-fit: cover;
}
.freeBox__lAwCa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__mINxe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__mINxe {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__qz11M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__pOx0R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__pOx0R {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__aiYr7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__aiYr7 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__ziUb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__rbfEk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__rbfEk {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__xq82S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__xq82S {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img__vovDs {
  object-fit: cover;
  max-width: 100%;
}
.img__vovDs > picture > img {
  object-fit: cover;
}
.freeBox__sSq5H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__dvrDi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__dvrDi {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__sIo7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__sIo7 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___2Q8J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__zBpu9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__zBpu9 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__v8WPs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-left: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__v8WPs {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img__zYcyi {
  object-fit: cover;
  max-width: 100%;
}
.img__zYcyi > picture > img {
  object-fit: cover;
}
.freeBox__wM8XS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__aA97L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__aA97L {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__zfMpT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h2___1Vrak {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  color: var(--token-jTHsWYiQANAj);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___1Vrak {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__aGMto {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__aGMto {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__nO4Nj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__eErU3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__eErU3 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__bbGs5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__bbGs5 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img__qsm0M {
  object-fit: cover;
  max-width: 100%;
}
.img__qsm0M > picture > img {
  object-fit: cover;
}
.freeBox__zQckW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3___6IbPk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3___6IbPk {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__bUm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__bUm {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___9ChOv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__tCoMk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__tCoMk {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__ycVhT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ycVhT {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__tYb7Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__aivRf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__aivRf {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__kHzU4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__kHzU4 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img__xqMu5 {
  object-fit: cover;
  max-width: 100%;
}
.img__xqMu5 > picture > img {
  object-fit: cover;
}
.freeBox__nPvOp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__caYwl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__caYwl {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__kX54A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__kX54A {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__wTkM1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__ag1Qy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__ag1Qy {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__o02M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__o02M {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img__pBj6G {
  object-fit: cover;
  max-width: 100%;
}
.img__pBj6G > picture > img {
  object-fit: cover;
}
.freeBox___7Pekp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__oCoMe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__oCoMe {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__aZjxj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__aZjxj {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__oKapw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h2__l3Kv0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  color: var(--token-jTHsWYiQANAj);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__l3Kv0 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__zbt9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__zbt9 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__qoORj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3___6Tbsh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3___6Tbsh {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__iro59 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__iro59 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__nDko {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h2___9V5Oi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  color: var(--token-jTHsWYiQANAj);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___9V5Oi {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__zxWhF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__zxWhF {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__fm5CN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__drr4K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__drr4K {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__d8D7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__d8D7 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-c8ePuztBnleH);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
