.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.freeBox__l961H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___44YNf {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-RY61_P1n2_lE);
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___44YNf {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__tkktS {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  min-width: 0;
  padding: 107px 32px 33px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__tkktS {
    padding-top: 87px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__jaSt4 {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  column-gap: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__jaSt4 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__djZij {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  row-gap: 32px;
  min-width: 0;
}
.freeBox___3Gcs8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.h1__cqPT {
  margin-bottom: 7px;
  line-height: var(--token-Yb1NbM72I2Qn);
}
.text__kmj72 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--token-KnDPhbe3-mzb);
  max-width: 534px;
  width: 100%;
  font-weight: 700;
  font-size: var(--token-4gJnguW2Fn8h);
  min-width: 0;
}
.button__u8N7I:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__v7Ln9 {
  position: relative;
  height: 1em;
}
.text___7Dx1F {
  white-space: pre;
  padding-bottom: 0px;
  font-weight: 900;
}
.svg__rumin {
  position: relative;
  height: 1em;
}
.freeBox__ftgRx {
  display: flex;
  position: relative;
  height: 400px;
}
.img__ld3Y1 {
  object-fit: contain;
  max-width: 100%;
  width: 553px;
  flex-shrink: 0;
}
.img__ld3Y1 > picture > img {
  object-fit: contain;
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-KnDPhbe3-mzb);
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pCy12 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
.h1__eevss {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1155px;
  text-align: center;
  color: var(--token-uA4cGu2jVLb7);
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__eevss {
    font-size: 32px;
  }
}
.text__eDZtq {
  position: relative;
  width: 1139px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-4gJnguW2Fn8h);
  margin-bottom: 0px;
}
.img__fo6Yc {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__fo6Yc > picture > img {
  object-fit: cover;
}
.text__vrhW3 {
  position: relative;
  width: 1139px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-4gJnguW2Fn8h);
}
.img__lZzI {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__lZzI > picture > img {
  object-fit: cover;
}
.text__qs6D {
  position: relative;
  width: 1139px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-4gJnguW2Fn8h);
}
.img__fgL0F {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__fgL0F > picture > img {
  object-fit: cover;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__u14FS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-uA4cGu2jVLb7);
  min-width: 0;
  padding: 8px 20px;
}
.h1__vhygh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 23px;
  min-width: 0;
}
.text__uyPE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-559-Sfg5QY95);
  font-weight: 700;
  min-width: 0;
}
.button__hiv9D:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___0HYa2 {
  position: relative;
  height: 1em;
}
.text__zbCrk {
  white-space: pre;
  color: var(--token-559-Sfg5QY95);
  font-weight: 700;
}
.svg__hKv1W {
  position: relative;
  height: 1em;
}
.column__b18Ra {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-RY61_P1n2_lE);
  min-width: 0;
  padding: 8px 20px;
}
.h1__jle2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  padding-bottom: 25px;
  min-width: 0;
}
.text__iwrBh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-559-Sfg5QY95);
  font-weight: 700;
  min-width: 0;
}
.button__dKfEt:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__dJqhS {
  position: relative;
  height: 1em;
}
.text__qB6S {
  white-space: pre;
  color: var(--token-559-Sfg5QY95);
  font-weight: 700;
}
.svg__jqvdW {
  position: relative;
  height: 1em;
}
.column__nnBu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ln6BikL9OX2f);
  min-width: 0;
  padding: 8px 20px;
}
.h1___6Bsgi {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 25px;
  min-width: 0;
}
.text__cwaZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-559-Sfg5QY95);
  font-weight: 700;
  min-width: 0;
}
.button___0EnWk:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__jzd1G {
  position: relative;
  height: 1em;
}
.text__cwRjF {
  white-space: pre;
  color: var(--token-559-Sfg5QY95);
  font-weight: 700;
}
.svg__aZC {
  position: relative;
  height: 1em;
}
.blogPosts:global(.__wab_instance) {
  position: relative;
  display: none;
  margin: 0px;
}
.ctaBlock:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}
.heroSection:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
