.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-o_zFdGynpdlb);
  font-family: var(--token-S8JOgfpeXBkN);
  font-size: var(--token-9vXMSufqp0kw);
  line-height: var(--token-EfiCG696q2FH);
  outline-style: none;
  border-radius: var(--token-6qIKLnFyCAKB);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-ogabPRBu44vo);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-tKeZoGVWoapr);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-zkXtSfA4MdeU);
  outline-color: var(--token-2fD8UdIqrOvE);
  outline-offset: 1px;
}
.freeBox__yHYb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2px;
  row-gap: var(--token-zkXtSfA4MdeU);
  min-width: 0;
  padding: var(--token-K2IrGU60Nqf1) var(--token-BZIJjjdgshou);
}
.freeBox__vmX5G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__if5Up {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-GHtcIJ1uEtNW);
  min-width: 0;
}
